<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciicsh.zorro.leopardwebservice.dao.IPrGroupMapper">

    <resultMap id="BaseResultMap" type="PrGroupEntity">
        <id column="PRGroupId" jdbcType="VARCHAR" property="entityId"></id>
        <result column="ParentPRGroupId" jdbcType="VARCHAR" property="parentId" />
        <result column="PRGroupCode" jdbcType="VARCHAR" property="code" />
        <result column="ManagementID" jdbcType="VARCHAR" property="managementId" />
        <result column="PRGroupName" jdbcType="VARCHAR" property="name" />
        <result column="Version" jdbcType="VARCHAR" property="version" />
        <result column="Remark" jdbcType="VARCHAR" property="remark" />
        <result column="IsTemplate" jdbcType="BIGINT" property="isTemplate" />
        <result property="isActive" column="IsActive" />
        <result property="dataChangeCreateTime" column="DataChange_CreateTime" />
        <result property="dataChangeLastTime" column="DataChange_LastTime" />
        <result property="createdBy" column="CreatedBy" />
        <result property="modifiedBy" column="ModifiedBy" />
    </resultMap>

    <select id="selectList" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrGroupEntity"
            resultMap="BaseResultMap">
        SELECT
        <include refid="PrGroup_All_Columns" />
        FROM
        PR_PayrollGroup
        <include refid="whereQuery" />
    </select>

    <!-- 查询薪资组 -->
    <select id="selectQueryList" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrGroupEntity"
            resultMap="BaseResultMap">
        SELECT
        <include refid="PrGroup_All_Columns" />
        FROM
        PR_PayrollGroup
        WHERE TRUE
        <if test="managementId!=null">AND ManagementID LIKE CONCAT('%',#{managementId},'%')</if>
        <if test="name!=null">AND PRGroupName LIKE CONCAT('%',#{name},'%')</if>
    </select>

    <!-- 获取薪资组名称列表 -->
    <select id="selectNameList" resultType="String">
        SELECT PRGroupName AS 'name' FROM PR_PayrollGroup WHERE ManagementID = #{managementId}
    </select>

    <!-- 更新薪资组-->
    <update id="updateItem">
        UPDATE PR_PayrollGroup
        <include refid="PrGroup_Update" />
        WHERE
        PRGroupId = #{entityId}
    </update>

    <!--  获取单个薪资项 -->
    <select id="selectItem" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrGroupEntity"
            resultMap="BaseResultMap">
        SELECT
        <include refid="PrGroup_All_Columns" />
        FROM
        PR_PayrollGroup
        <include refid="whereQuery" />
        LIMIT 1
    </select>

    <!--插入薪资项模板-->
    <insert id="insertItem" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrGroupEntity">
        INSERT INTO PR_PayrollGroup(
        <include refid="PrGroup_All_Insert_Columns" />
        )
        VALUES
        (
        #{entityId},
        #{parentId},
        #{code},
        #{managementId},
        #{name},
        #{version},
        #{remark},
        #{isTemplate},
        #{isActive},
        sysdate(),
        sysdate(),
        #{createdBy},
        #{modifiedBy}
        )
    </insert>

    <sql id="PrGroup_All_Columns">
        PRGroupId,
        ParentPRGroupId,
        PRGroupCode,
        ManagementID,
        PRGroupName,
        Version,
        Remark,
        IsTemplate,
        IsActive,
        DataChange_CreateTime,
        DataChange_LastTime,
        CreatedBy,
        ModifiedBy
    </sql>

    <sql id="PrGroup_All_Insert_Columns">
        PRGroupId,
        ParentPRGroupId,
        PRGroupCode,
        ManagementID,
        PRGroupName,
        Version,
        Remark,
        IsTemplate,
        IsActive,
        DataChange_CreateTime,
        DataChange_LastTime,
        CreatedBy,
        ModifiedBy
    </sql>

    <sql id="whereQuery">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="entityId != null and entityId != ''">
                AND PRGroupId = #{entityId}
            </if>

            <if test="managementId != null and managementId != ''">
                AND ManagementId = #{managementId}
            </if>

        </trim>
    </sql>

    <sql id="PrGroup_Update">
        <trim prefix="set" suffixOverrides=",">
            <if test="parentId != null and parentId != ''">
                ParentPRGroupId = #{parentId},
            </if>
            <if test="code != null and code !=''">
                PRGroupCode = #{code},
            </if>
            <if test="managementId != null and managementId != ''">
                ManagementId = #{managementId},
            </if>
            <if test="name != null and name != ''">
                PRGroupName = #{name},
            </if>
            <if test="version != null and version != ''">
                Version = #{version},
            </if>
            <if test="remark != null and remark != ''">
                Remark = #{remark},
            </if>
            <if test="isTemplate != null and isTemplate != ''">
                IsTemplate = #{isTemplate},
            </if>
            <if test="isActive != null">
                IsActive = #{isActive},
            </if>
        </trim>
    </sql>




</mapper>
