<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciicsh.zorro.leopardwebservice.dao.IPrItemTemplateMapper">

     <!--定义resultMap，解决表中字段名与模型中属性名不一致的问题 -->
     <!--id相当于resultmap的引用的唯一标识-->
    <!--<resultMap id="PrItemTemplateMap" type="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntityEntitylate">-->
        <!--<id column="PRItemTemplateID" jdbcType="INTEGER" property="id" />-->
    <!--</resultMap>-->

    <select id="selectItem" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntity"
            resultType="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntity">
        SELECT
        <include refid="PrItemTemplate_All_Columns" />
        FROM
        PR_PayrollItemTemplate
        <include refid="whereQuery" />
        LIMIT 1
    </select>

    <select id="selectList" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntity"
            resultType="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntity">
        SELECT
        <include refid="PrItemTemplate_All_Columns" />
        FROM
        PR_PayrollItemTemplate
        <include refid="whereQuery" />
    </select>

    <!--插入薪资项模板-->
    <insert id="insertItem" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntity">
        INSERT INTO PR_PayrollItemTemplate(
        <include refid="PrItemTemplate_All_Insert_Columns" />
        )
        VALUES
        (
        #{entityId},
        #{name},
        #{code},
        #{managementId},
        #{type},
        #{dataType},
        #{condition},
        #{formula},
        #{remark},
        #{isActive},
        sysdate(),
        sysdate(),
        #{createdBy},
        #{modifiedBy}
        )
    </insert>

    <select id="selectNameList" resultType="String">
        SELECT
            PRItemTemplateName as 'name'
        FROM
            PR_PayrollItemTemplate
        WHERE
            ManagementId = #{managementId}
    </select>

    <update id="updateItem" parameterType="com.ciicsh.zorro.leopardwebservice.entity.PrItemTemplateEntity">
        UPDATE
            PR_PayrollItemTemplate
        SET
            <if test="name != null">
                PRItemTemplateName = #{name},
            </if>
            <if test="type != null">
                PRItemTemplateType = #{type},
            </if>
            <if test="dataType != null">
                DataType = #{dataType},
            </if>
            <if test="condition != null">
                FormulaCondition = #{condition},
            </if>
            <if test="formula != null">
                FormulaContent = #{formula},
            </if>
            <if test="remark != null">
                Remark = #{remark},
            </if>
            <if test="isActive != null">
                IsActive = #{isActive},
            </if>
            <if test="modifiedBy != null">
                ModifiedBy = #{modifiedBy},
            </if>
                DataChange_LastTime = sysdate()
        WHERE
            ManagementId = #{managementId}
        AND
            PRItemTemplateCode = #{code}
    </update>

    <sql id="PrItemTemplate_All_Columns">
        PRItemTemplateID as entityId,
        PRItemTemplateName as 'name',
        PRItemTemplateCode as 'code',
        ManagementId as managementId,
        PRItemTemplateType as type,
        DataType as dataType,
        FormulaCondition as 'condition',
        FormulaContent as formula,
        Remark as remark,
        IsActive as isActive,
        DataChange_CreateTime,
        DataChange_LastTime,
        CreatedBy,
        ModifiedBy
    </sql>

    <sql id="PrItemTemplate_All_Insert_Columns">
        PRItemTemplateID,
        PRItemTemplateName,
        PRItemTemplateCode,
        ManagementId,
        PRItemTemplateType,
        DataType,
        FormulaCondition,
        FormulaContent,
        Remark,
        IsActive,
        DataChange_CreateTime,
        DataChange_LastTime,
        CreatedBy,
        ModifiedBy
    </sql>

    <sql id="whereQuery">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="entityId != null and entityId != ''">
                AND PRItemTemplateID = #{entityId}
            </if>
            <if test="name != null and name != ''">
                AND PRItemTemplateName = #{name}
            </if>
            <if test="code != null and code !=''">
                AND PRItemTemplateCode = #{code}
            </if>
            <if test="managementId != null and managementId != ''">
                AND ManagementId = #{managementId}
            </if>
            <if test="type != null">
                AND PRItemTemplateType = #{type}
            </if>
            <if test="dataType != null">
                AND DataType = #{dataType}
            </if>
            <if test="condition != null and condition != ''">
                AND FormulaCondition = #{condition}
            </if>
            <if test="formula != null and formula != ''">
                AND FormulaContent = #{formula}
            </if>
            <if test="remark != null and remark != ''">
                AND Remark = #{remark}
            </if>
            <if test="isActive != null">
                AND IsActive = #{isActive}
            </if>
        </trim>
    </sql>

</mapper>