<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.CalculationBatchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="QueryCalculationBatchsResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.CalculationBatchPO">
		<id column="cal_batch_id" property="id" />
		<result column="batch_no" property="batchNo" />
		<result column="manager_no" property="managerNo" />
		<result column="manager_name" property="managerName" />
		<result column="status" property="status" />
		<result column="created_time" property="createdTime" />
		<!--<collection property="calculationBatchTaskMainPOs" ofType="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.CalculationBatchTaskMainPO">
			<id column="id" property="id"/>
			<result column="cal_batch_id" property="calBatchId"/>
			<result column="task_main_id" property="taskMainId"/>
			<association property="taskMainPOs" javaType="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskMainPO">
				<id column="task_main_id" property="id"/>
				<result column="task_no" property="taskNo"/>
			</association>
		</collection>-->
	</resultMap>

	<!-- 通用查询映射结果 -->
	<resultMap id="queryTaskMainsByCalBatchResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskMainPO">
		<result column="task_no" property="taskNo" />
	</resultMap>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.bo.CalculationBatchDetailBO">
		<id column="id" property="id" />
		<!--<result column="calculation_batch_id" property="calculationBatchId" />
		<result column="version_no" property="versionNo" />
		<result column="is_defer" property="isDefer" />-->
		<result column="employee_no" property="employeeNo" />
		<result column="employee_name" property="employeeName" />
		<result column="id_type" property="idType" />
		<result column="id_no" property="idNo" />
		<result column="declare_account" property="declareAccount" />
		<result column="pay_account" property="payAccount" />
		<result column="period" property="period" />
		<result column="income_subject" property="incomeSubject" />
		<result column="income_total" property="incomeTotal" />
		<result column="income_dutyfree" property="incomeDutyfree" />
		<result column="deduct_retirement_insurance" property="deductRetirementInsurance" />
		<result column="deduct_medical_insurance" property="deductMedicalInsurance" />
		<result column="deduct_dleness_insurance" property="deductDlenessInsurance" />
		<result column="deduct_property" property="deductProperty" />
		<result column="deduct_house_fund" property="deductHouseFund" />
		<result column="deduct_takeoff" property="deductTakeoff" />
		<result column="deduct_other" property="deductOther" />
		<result column="deduct_total" property="deductTotal" />
		<result column="deduction" property="deduction" />
		<result column="donation" property="donation" />
		<result column="income_for_tax" property="incomeForTax" />
		<result column="tax_rate" property="taxRate" />
		<result column="quick_cal_deduct" property="quickCalDeduct" />
		<result column="tax_amount" property="taxAmount" />
		<result column="tax_deduction" property="taxDeduction" />
		<result column="tax_withhold_amount" property="taxWithholdAmount" />
		<result column="tax_withholded_amount" property="taxWithholdedAmount" />
		<result column="tax_remedy_or_return" property="taxRemedyOrReturn" />
		<result column="declare_account" property="declareAccount" />
		<result column="pay_account" property="payAccount" />
		<result column="receipt_account" property="receiptAccount" />
		<result column="support_no" property="supportNo" />
		<result column="support_name" property="supportName" />
		<result column="is_support" property="support" />
		<result column="is_supported" property="supported" />
		<result column="is_pay" property="pay" />
		<result column="is_payed" property="payed" />
		<result column="is_declare" property="declare" />
		<result column="is_declared" property="declared" />
		<result column="is_transfer" property="tranfer" />
		<result column="is_transferred" property="tranferred" />
		<result column="is_pay_supported" property="paySupported" />
		<result column="is_declare_supported" property="declareSupported" />
		<result column="is_transfer_supported" property="transferSupported" />
		<result column="is_proof" property="proof" />
		<result column="is_proofed" property="proofed" />
		<result column="tax_real" property="taxReal" />
		<result column="annuity" property="annuity" />
		<result column="working_years" property="workingYears" />
		<result column="business_health_insurance" property="businessHealthInsurance" />
		<result column="endowment_insurance" property="endowmentInsurance" />
		<result column="domestic_days" property="domesticDays" />
		<result column="overseas_days" property="overseasDays" />
		<result column="domestic_income_domestic_payment" property="domesticIncomeDomesticPayment" />
		<result column="domestic_income_overseas_payment" property="domesticIncomeOverseasPayment" />
		<result column="overseas_income_domestic_payment" property="overseasIncomeDomesticPayment" />
		<result column="overseas_income_overseas_payment" property="overseasIncomeOverseasPayment" />
		<result column="housing_subsidy" property="housingSubsidy" />
		<result column="meal_allowance" property="mealAllowance" />
		<result column="laundry_fee" property="laundryFee" />
		<result column="removing_indemnity_fee" property="removingIndemnityFee" />
		<result column="missionallowance" property="missionallowance" />
		<result column="visiting_relatives_fee" property="visitingRelativesFee" />
		<result column="language_training_fee" property="languageTrainingFee" />
		<result column="education_funds" property="educationFunds" />
		<result column="exercise_income_month" property="exerciseIncomeMonth" />
		<result column="exercise_income_year" property="exerciseIncomeYear" />
		<result column="number_of_months" property="numberOfMonths" />
		<result column="exercise_tax_amount" property="exerciseTaxAmount" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <!--<sql id="Base_Column_List">
        id, batch_no, manager_no, manager_name, tax_amount, headcount, chinese_num, foreigner_num, status, is_active, created_time, modified_time, created_by, modified_by
    </sql>-->


	<!-- 查询批次明细 -->
	<select id="queryCalculationBatchDetails" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		t2.id,t1.batch_no,t2.tax_real
		,t2.employee_no,t2.employee_name,t2.id_type,t2.id_no,t2.period,t2.income_subject,t2.income_total,t2.income_dutyfree,t2.deduct_retirement_insurance,t2.deduct_medical_insurance
		,t2.deduct_dleness_insurance,t2.deduct_property,t2.deduct_house_fund,t2.deduct_takeoff,t2.deduct_other,t2.deduct_total,t2.deduction,t2.donation,t2.income_for_tax
		,t2.tax_rate,t2.quick_cal_deduct,t2.tax_amount,t2.tax_deduction,t2.tax_withhold_amount,t2.tax_withholded_amount,t2.tax_remedy_or_return
		,t3.declare_account,t3.pay_account,t3.receipt_account,t3.support_no,t3.support_name,t3.is_support,t3.is_supported,t3.is_pay,t3.is_payed,t3.is_declare
		,t3.is_declared,t3.is_transfer,t3.is_transferred,t3.is_declare_supported,t3.is_transfer_supported,t3.is_pay_supported,t3.is_proof,t3.is_proofed
		FROM tax_fc_calculation_batch t1,tax_fc_calculation_batch_detail t2,tax_fc_employee_service_batch t3
		where t1.is_active = true and t2.is_defer !=true and t1.id = t2.calculation_batch_id and t2.id = t3.cal_batch_detail_id
		<if test="batchId != null and batchId != ''">
			and t1.id = #{batchId}
		</if>
		<if test="employeeNo != null and employeeNo != ''">
			and t2.employee_no like concat('%', #{employeeNo, jdbcType=VARCHAR},'%')
		</if>
		<if test="employeeName != null and employeeName != ''">
			and t2.employee_name like concat('%', #{employeeName, jdbcType=VARCHAR},'%')
		</if>
		<if test="idType != null and idType != ''">
			and t2.id_type = #{idType, jdbcType=CHAR}
		</if>
		<if test="idNo != null and idNo != ''">
			and t2.id_no  like concat('%', #{idNo, jdbcType=VARCHAR},'%')
		</if>

	</select>

	<!-- 查询批次明细 -->
	<select id="queryCalculationBatchDetailsByBatchIds" resultMap="BaseResultMap">
		SELECT
		t2.id,t1.batch_no,
		t2.tax_real,
		t2.annuity,
		t2.working_years,
		t2.business_health_insurance,
		t2.endowment_insurance,
		t2.domestic_days,
		t2.overseas_days,
		t2.domestic_income_domestic_payment,
		t2.domestic_income_overseas_payment,
		t2.overseas_income_domestic_payment,
		t2.overseas_income_overseas_payment,
		t2.housing_subsidy,
		t2.meal_allowance,
		t2.laundry_fee,
		t2.removing_indemnity_fee,
		t2.missionallowance,
		t2.visiting_relatives_fee,
		t2.language_training_fee,
		t2.education_funds,
		t2.exercise_income_month,
		t2.exercise_income_year,
		t2.number_of_months,
		t2.exercise_tax_amount
		,t2.employee_no,t2.employee_name,t2.id_type,t2.id_no,t2.period,t2.income_subject,t2.income_total,t2.income_dutyfree,t2.deduct_retirement_insurance,t2.deduct_medical_insurance
		,t2.deduct_dleness_insurance,t2.deduct_property,t2.deduct_house_fund,t2.deduct_takeoff,t2.deduct_other,t2.deduct_total,t2.deduction,t2.donation,t2.income_for_tax
		,t2.tax_rate,t2.quick_cal_deduct,t2.tax_amount,t2.tax_deduction,t2.tax_withhold_amount,t2.tax_withholded_amount,t2.tax_remedy_or_return
		,t3.declare_account,t3.pay_account,t3.receipt_account,t3.support_no,t3.support_name,t3.is_support,t3.is_supported,t3.is_pay,t3.is_payed,t3.is_declare
		,t3.is_declared,t3.is_transfer,t3.is_transferred,t3.is_declare_supported,t3.is_transfer_supported,t3.is_pay_supported
		FROM tax_fc_calculation_batch t1,tax_fc_calculation_batch_detail t2,tax_fc_employee_service_batch t3
		where t1.is_active = true and t2.is_defer !=true and t1.id = t2.calculation_batch_id and t2.id = t3.cal_batch_detail_id AND t1.id in
		<foreach collection="batchIds" item="batchId" open="(" separator="," close=")">
			#{batchId}
		</foreach>
	</select>

	<!-- 查询批次对应的任务 -->
	<select id="queryTaskMainsByCalBatch" resultMap="queryTaskMainsByCalBatchResultMap">
		SELECT
		t2.task_no
		FROM tax_fc_calculation_batch_task_main t1
		left join tax_fc_task_main t2 on t1.task_main_id = t2.id
		where 1=1 and t2.is_active=true and t2.status!='05'
		<if test="calBatchId!=null and calBatchId!=''"> and t1.cal_batch_id = #{calBatchId}</if>
		ORDER BY t2.created_time desc
	</select>

	<!--根据批次id删除明细信息-->
	<update id="cancelDetailsByCalBatchId">
		/*update tax_fc_calculation_batch_detail t1
		inner join tax_fc_calculation_batch t2
		on t1.calculation_batch_id = t2.id
		SET
		t1.is_active = false
		where t2.id = #{calBatchId}*/
		delete tax_fc_calculation_batch_detail t1
		inner join tax_fc_calculation_batch t2
		on t1.calculation_batch_id = t2.id
		where t2.id = #{calBatchId}
	</update>
	<!--根据批次id删除个税信息-->
	<update id="cancelInfosByCalBatchId">
		/*update tax_fc_employee_info_batch t1
		inner join tax_fc_calculation_batch_detail t2
		on t1.cal_batch_detail_id = t2.id
		inner join tax_fc_calculation_batch t3
		on t2.calculation_batch_id = t3.id
		SET
		t1.is_active = false
		where t3.id = #{calBatchId}*/
		delete tax_fc_employee_info_batch t1
		inner join tax_fc_calculation_batch_detail t2
		on t1.cal_batch_detail_id = t2.id
		inner join tax_fc_calculation_batch t3
		on t2.calculation_batch_id = t3.id
		where t3.id = #{calBatchId}
	</update>
	<!--根据批次id删除服务信息-->
	<update id="cancelServicesByCalBatchId">
		/*update tax_fc_employee_service_batch t1
		inner join tax_fc_calculation_batch_detail t2
		on t1.cal_batch_detail_id = t2.id
		inner join tax_fc_calculation_batch t3
		on t2.calculation_batch_id = t3.id
		SET
		t1.is_active = false
		where t3.id = #{calBatchId}*/
		delete tax_fc_employee_service_batch t1
		inner join tax_fc_calculation_batch_detail t2
		on t1.cal_batch_detail_id = t2.id
		inner join tax_fc_calculation_batch t3
		on t2.calculation_batch_id = t3.id
		where t3.id = #{calBatchId}
	</update>

</mapper>
