<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.TaskMainProofMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskMainProofPO">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="task_no" property="taskNo"/>-->
        <!--<result column="manager_no" property="managerNo"/>-->
        <!--<result column="manager_name" property="managerName"/>-->
        <!--<result column="headcount" property="headcount"/>-->
        <!--<result column="chinese_num" property="chineseNum"/>-->
        <!--<result column="foreigner_num" property="foreignerNum"/>-->
        <!--<result column="status" property="status"/>-->
        <!--<result column="remark" property="remark"/>-->
        <!--<result column="is_active" property="isActive"/>-->
        <!--<result column="created_time" property="createdTime"/>-->
        <!--<result column="modified_time" property="modifiedTime"/>-->
        <!--<result column="created_by" property="createdBy"/>-->
        <!--<result column="modified_by" property="modifiedBy"/>-->
    <!--</resultMap>-->

    <!--根据主键ID重新计算主任务总人数-->
    <update id="updateMainHeadcountById">
        update tax_fc_task_main_proof tmp
        inner join
        (select
            task_main_proof_id,
            sum(headcount) as headNumTotal,
            sum(chinese_num) as chineseNumTotal,
            sum(foreigner_num) as foreignerNumTotal
        from tax_fc_task_sub_proof where is_active = 1 and task_main_proof_id = #{id}) sub on tmp.id = sub.task_main_proof_id
        SET
            tmp.headcount = sub.headNumTotal,
            tmp.chinese_num = sub.chineseNumTotal,
            tmp.foreigner_num = sub.foreignerNumTotal,
            tmp.modified_by = #{modifiedBy},
            tmp.modified_time = #{modifiedTime}
        where  tmp.is_active = 1 and tmp.id = sub.task_main_proof_id and tmp.id = #{id}
    </update>

</mapper>
