<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.TaskSubProofMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskSubProofPO">
        <id column="id" property="id"/>
        <result column="task_main_proof_id" property="taskMainProofId"/>
        <result column="task_sub_proof_id" property="taskSubProofId"/>
        <result column="task_no" property="taskNo"/>
        <result column="declare_account" property="declareAccount"/>
        <result column="period" property="period"/>
        <result column="headcount" property="headcount"/>
        <result column="chinese_num" property="chineseNum"/>
        <result column="foreigner_num" property="foreignerNum"/>
        <result column="status" property="status"/>
        <result column="is_active" property="isActive"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="task_type" property="taskType"/>
        <result column="is_combined" property="isCombined"/>
    </resultMap>

    <resultMap id="BaseResultBOMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.bo.TaskSubProofBO">
        <id column="id" property="id"/>
        <result column="task_no" property="taskNo"/>
        <result column="manager_no" property="managerNo"/>
        <result column="manager_name" property="managerName"/>
        <result column="declare_account" property="declareAccount"/>
        <result column="period" property="period"/>
        <result column="headcount" property="headcount"/>
        <result column="chinese_num" property="chineseNum"/>
        <result column="foreigner_num" property="foreignerNum"/>
        <result column="status" property="status"/>
        <result column="task_type" property="taskType"/>
        <result column="is_combined" property="isCombined"/>
        <result column="declare_account_name" property="declareAccountName"/>
        <result column="station" property="station"/>
        <result column="city_code" property="cityCode"/>
    </resultMap>

    <resultMap id="BaseResultMapForProof" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.bo.TaskSubDeclareDetailBO">
        <id column="id" property="id"/>
        <result column="employee_no" property="employeeNo"/>
        <result column="employee_name" property="employeeName"/>
        <result column="id_type" property="idType"/>
        <result column="id_no" property="idNo"/>
        <result column="declare_account" property="declareAccount"/>
        <result column="declare_account_name" property="declareAccountName"/>
        <result column="income_subject" property="incomeSubject"/>
        <result column="period" property="period"/>
        <result column="income_for_tax" property="incomeForTax"/>
        <result column="tax_amount" property="taxAmount"/>
        <result column="is_proof" property="proof"/>
    </resultMap>

    <!--根据主键ID重新计算子任务总人数-->
    <update id="updateSubHeadcountById">
        update tax_fc_task_sub_proof tsp
        inner join
        (select
            task_sub_proof_id,
            sum(case when is_active = 1 then 1 else 0 end ) as headNumTotal,
            sum(case when id_type = '1' and is_active = 1 then 1 else 0 end ) as chineseNumTotal,
            sum(case when id_type != '1' and  is_active = 1 then 1 else 0 end ) as foreignerNumTotal
        from tax_fc_task_sub_proof_detail where  task_sub_proof_id =  #{id}) sub on tsp.id = sub.task_sub_proof_id
        SET
            tsp.headcount = sub.headNumTotal,
            tsp.chinese_num = sub.chineseNumTotal,
            tsp.foreigner_num = sub.foreignerNumTotal,
            tsp.modified_by = #{modifiedBy},
            tsp.modified_time = #{modifiedTime}
        where  tsp.is_active = 1 and tsp.id = sub.task_sub_proof_id and tsp.id = #{id}
    </update>

    <!--多表查询完税凭证子任务-->
    <select id="querySubProofInfoByTaskType" resultMap="BaseResultBOMap"
            parameterType="com.ciicsh.gto.fcbusinesscenter.tax.entity.bo.TaskSubProofBO">
        select tsp.id,
        tsp.task_no,
        tsp.manager_no,
        tsp.manager_name,
        tsp.declare_account,
        tsp.declare_account_name,
        tsp.period,
        tsp.headcount,
        tsp.chinese_num,
        tsp.foreigner_num,
        tsp.`status`,
        tsp.task_type,
        tsp.is_combined,
        tsp.station,
        tsp.city_code
        from tax_fc_task_sub_proof tsp
        where tsp.is_active = 1 <![CDATA[ and tsp.`status` <> '00' and tsp.`status` <> '02' ]]> and tsp.task_sub_proof_id is null
        <if test="managerNos != null and managerNos.length != 0">
            and (tsp.manager_no in
            <foreach collection="managerNos" item="managerNo"
                     index="index" open="(" close=")" separator=",">
                #{managerNo}
            </foreach>
            or tsp.is_combined = 1)
        </if>
        <if test="declareAccountName != null and declareAccountName != ''">
            and tsp.declare_account_name LIKE concat('%', #{declareAccountName, jdbcType=VARCHAR},'%')
        </if>
        <if test="period != null">
            and date(tsp.period) = date(#{period,jdbcType=TIMESTAMP})
        </if>
        <if test="status != null and status != ''">
            and tsp.`status` = #{status}
        </if>
        <if test="taskType != null and taskType != ''">
            and tsp.task_type = #{taskType}
        </if>
        order by tsp.modified_time desc
    </select>

    <!--根据合并的ID拼接的in条件查询合并前的子任务ID-->
    <select id="querySubIdsByCombinedIds" resultType="java.lang.Long">
      select id from tax_fc_task_sub_proof
      where task_sub_proof_id in (#{sbCombinedParams})
    </select>

    <!--根据主键ID查询完税凭证子任务详细信息-->
    <select id="queryApplyDetailsBySubId" resultMap="BaseResultBOMap">
        select tsp.id,
        tsp.task_no,
        tsp.manager_no,
        tsp.manager_name,
        tsp.declare_account,
        tsp.declare_account_name,
        tsp.period,
        tsp.headcount,
        tsp.chinese_num,
        tsp.foreigner_num,
        tsp.`status`,
        tsp.task_type,
        tsp.is_combined,
        tsp.station,
        tsp.city_code
        from tax_fc_task_sub_proof tsp
        where tsp.is_active = 1 and tsp.id = #{subProofId}

    </select>

    <!-- 查询批次明细 -->
    <select id="querySubDeclareDetailsForProof" resultMap="BaseResultMapForProof">
        SELECT
        t2.id
        ,t2.employee_no
        ,t2.employee_name
        ,t2.id_type
        ,t2.id_no
        ,t2.declare_account
        ,t2.income_subject
        ,t2.period
        ,t2.income_for_tax
        ,t2.tax_amount
        ,t3.is_proof
        FROM tax_fc_task_sub_declare t1,tax_fc_task_sub_declare_detail t2,tax_fc_employee_service_batch t3
        where (t1.id = #{taskSubDeclareId} or t1.task_sub_declare_id =#{taskSubDeclareId})  and t1.id = t2.task_sub_declare_id and t2.task_sub_declare_detail_id is null
        and t2.calculation_batch_detail_id = t3.cal_batch_detail_id
        <!--<if test="startTime != null and startTime != ''">
            and date(created_time) &gt;= date(#{startTime,jdbcType=TIMESTAMP})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(created_time) &lt;= date(#{endTime,jdbcType=TIMESTAMP})
        </if>-->
    </select>

    <!--修改完税凭证子任务合并任务ID在子任务数组ID的状态-->
    <update id="updateTaskProofStatus">
      update tax_fc_task_sub_proof
        set status = #{status},
        modified_by = #{modifiedBy},
        modified_time = #{modifiedTime}
        where task_sub_proof_id in
        <foreach collection="subProofIds" item="subProofId" open="(" separator="," close=")">
            #{subProofId}
        </foreach>
    </update>
</mapper>
