<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.TaskMainMapper">

	<!-- 通用查询映射结果 -->
	<!--<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.entity.po.TaskMainPO">
		<id column="id" property="id" />
		<result column="task_no" property="taskNo" />
		<result column="manager_no" property="managerNo" />
		<result column="manager_name" property="managerName" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>-->

    <!-- 通用查询结果列 -->
    <!--<sql id="Base_Column_List">
        id, task_no, manager_no, manager_name, status, remark, is_active, created_time, modified_time, created_by, modified_by
    </sql>-->

</mapper>
