<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.TaskSubMoneyMapper">

	<!-- 通用查询映射结果 -->
	<!--<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskSubMoneyPO">-->
		<!--<id column="id" property="id" />-->
		<!--<result column="task_main_id" property="taskMainId" />-->
		<!--<result column="task_sub_money_id" property="taskSubMoneyId" />-->
		<!--<result column="task_no" property="taskNo" />-->
		<!--<result column="payment_account" property="paymentAccount" />-->
		<!--<result column="period" property="period" />-->
		<!--<result column="tax_amount" property="taxAmount" />-->
		<!--<result column="headcount" property="headcount" />-->
		<!--<result column="chinese_num" property="chineseNum" />-->
		<!--<result column="foreigner_num" property="foreignerNum" />-->
		<!--<result column="status" property="status" />-->
		<!--<result column="is_active" property="isActive" />-->
		<!--<result column="created_time" property="createdTime" />-->
		<!--<result column="modified_time" property="modifiedTime" />-->
		<!--<result column="created_by" property="createdBy" />-->
		<!--<result column="modified_by" property="modifiedBy" />-->
		<!--<result column="manager_no" property="managerNo" />-->
		<!--<result column="manager_name" property="managerName" />-->
	<!--</resultMap>-->
</mapper>
