<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.TaskSubDeclareMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskSubDeclarePO">

	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_main_id, task_sub_declare_id, task_no, declare_account, period, overdue, fine, tax_amount, headcount, chinese_num, foreigner_num, status, is_active, created_time, modified_time, created_by, modified_by, manager_no, manager_name
    </sql>

    <!--根据合并的ID拼接的in条件查询合并前的子任务ID-->
    <select id="querySubDeclareIdsByMergeIds" resultType="java.lang.Long">
    select id from tax_fc_task_sub_declare
    where task_sub_declare_id in (#{sbCombinedParams})
</select>

    <!--修改申报子任务合并ID为数组ID的任务状态-->
    <update id="updateBeforeMergeDeclareStatus">
        update tax_fc_task_sub_declare
        set status = #{status},
        modified_by = #{modifiedBy},
        modified_time = #{modifiedTime}
        where task_sub_declare_id in
        <foreach collection="subDeclareIds" item="subDeclareId" open="(" separator="," close=")">
            #{subDeclareId}
        </foreach>
    </update>
    <!--修改申报合并任务ID为失效-->
    <update id="updateDeclareByCombinedId">
        update tax_fc_task_sub_declare
        set is_active = false,
            modified_by = #{modifiedBy},
            modified_time = #{modifiedTime}
        where id = #{combinedId}
    </update>

    <!--修改合并前申报子任务为有效状态-->
    <update id="updateDeclareToActiveById">
        update tax_fc_task_sub_declare
        set is_active = true,
            task_sub_declare_id = null,
            modified_by = #{modifiedBy},
            modified_time = #{modifiedTime}
        where task_sub_declare_id=#{combinedId}
    </update>

    <!--修改合并前申报明细为有效状态-->
    <update id="updateDeclareDetailToActiveById">
        update tax_fc_task_sub_declare_detail a inner join tax_fc_task_sub_declare_detail b on a.task_sub_declare_detail_id = b.id and b.task_sub_declare_id = #{combinedId}
        set a.is_active = true,
            a.task_sub_declare_detail_id = null,
            a.modified_by = #{modifiedBy},
            a.modified_time = #{modifiedTime}
    </update>

    <!--修改合并申报明细为失效状态-->
    <update id="updateDeclareDetailById">
        update tax_fc_task_sub_declare_detail
        set is_active = false,
            modified_by = #{modifiedBy},
            modified_time = #{modifiedTime}
        where task_sub_declare_id=#{combinedId}
    </update>


</mapper>
