<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcsupportcenter.tax.commandservice.dao.TaskMainProofMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.fcsupportcenter.tax.entity.po.TaskMainProofPO">
        <id column="id" property="id"/>
        <result column="task_no" property="taskNo"/>
        <result column="manager_no" property="managerNo"/>
        <result column="manager_name" property="managerName"/>
        <result column="headcount" property="headcount"/>
        <result column="chinese_num" property="chineseNum"/>
        <result column="foreigner_num" property="foreignerNum"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="is_active" property="isActive"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <!--查询完税凭证总任务-->
    <select id="queryTaskMainProofList" resultMap="BaseResultMap">
        SELECT
        id,task_no,
        manager_no,
        manager_name,
        headcount,
        chinese_num,
        foreigner_num,
        status,
        remark,
        is_active,
        created_time,
        modified_time,
        created_by,
        modified_by
        FROM tax_fc_task_main_proof
        where is_active = 1
        <if test="managerName != null and managerName != ''">
            and manager_name LIKE concat('%', #{managerName, jdbcType=VARCHAR},'%')
        </if>
        <if test="startTime != null and startTime != ''">
            and date(created_time) &gt;= date(#{startTime,jdbcType=TIMESTAMP})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(created_time) &lt;= date(#{endTime,jdbcType=TIMESTAMP})
        </if>
    </select>

    <!--新增完税凭证主任务-->
    <insert id="addTaskMainProof" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ciicsh.gto.fcsupportcenter.tax.entity.po.TaskMainProofPO">
        INSERT  INTO  tax_fc_task_main_proof(task_no,manager_no,manager_name,status,created_by,modified_by)
        VALUES (#{taskNo,jdbcType=VARCHAR},#{managerNo,jdbcType=VARCHAR},#{managerName,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{modifiedBy,jdbcType=VARCHAR})
    </insert>

    <!--修改完税凭证主任务状态-->
    <update id="updateMainTaskProof">
        update tax_fc_task_main_proof set status = #{status},modified_by = #{modifiedBy}
        WHERE status = '00' AND id in
        <foreach collection="mainProofIds" item="mainProofId" open="(" separator="," close=")">
            #{mainProofId}
        </foreach>
    </update>

    <!--完税凭证主任务为失效状态-->
    <update id="invalidMainTaskProofByIds">
        update tax_fc_task_main_proof set is_active = false,modified_by = #{modifiedBy}
        WHERE status = '00' AND id in
        <foreach collection="mainProofIds" item="mainProofId" open="(" separator="," close=")">
            #{mainProofId}
        </foreach>
    </update>

    <!--根据主键ID重新计算主任务总人数-->
    <update id="updateMainHeadcountById">
        update tax_fc_task_main_proof tmp
        set tmp.headcount = (select sum(tsp.headcount) from tax_fc_task_sub_proof tsp where tsp.is_active = 1 and tsp.task_main_proof_id = #{id})
        where tmp.is_active = 1 and tmp.id = #{id}
    </update>

</mapper>
