<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.tax.commandservice.dao.TaskMainMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.bo.TaskMainDetailBO">
		<id column="id" property="id" />
		<!--<result column="calculation_batch_id" property="calculationBatchId" />
		<result column="version_no" property="versionNo" />
		<result column="is_defer" property="isDefer" />-->
		<result column="calculation_batch_detail_id" property="calculationBatchDetailId" />
		<result column="batch_no" property="batchNo" />
		<result column="task_main_id" property="taskMainId" />
		<result column="task_main_detail_id" property="taskMainDetailId" />
		<result column="employee_no" property="employeeNo" />
		<result column="employee_name" property="employeeName" />
		<result column="id_type" property="idType" />
		<result column="id_no" property="idNo" />
		<result column="declare_account" property="declareAccount" />
		<result column="pay_account" property="payAccount" />
		<result column="period" property="period" />
		<result column="income_subject" property="incomeSubject" />
		<result column="income_total" property="incomeTotal" />
		<result column="income_dutyfree" property="incomeDutyfree" />
		<result column="deduct_retirement_insurance" property="deductRetirementInsurance" />
		<result column="deduct_medical_insurance" property="deductMedicalInsurance" />
		<result column="deduct_dleness_insurance" property="deductDlenessInsurance" />
		<result column="deduct_property" property="deductProperty" />
		<result column="deduct_house_fund" property="deductHouseFund" />
		<result column="deduct_takeoff" property="deductTakeoff" />
		<result column="deduct_other" property="deductOther" />
		<result column="deduct_total" property="deductTotal" />
		<result column="deduction" property="deduction" />
		<result column="donation" property="donation" />
		<result column="income_for_tax" property="incomeForTax" />
		<result column="tax_rate" property="taxRate" />
		<result column="quick_cal_deduct" property="quickCalDeduct" />
		<result column="tax_amount" property="taxAmount" />
		<result column="tax_deduction" property="taxDeduction" />
		<result column="tax_withhold_amount" property="taxWithholdAmount" />
		<result column="tax_withholded_amount" property="taxWithholdedAmount" />
		<result column="tax_remedy_or_return" property="taxRemedyOrReturn" />
		<result column="declare_account" property="declareAccount" />
		<result column="pay_account" property="payAccount" />
		<result column="receipt_account" property="receiptAccount" />
		<result column="support_no" property="supportNo" />
		<result column="support_name" property="supportName" />
		<result column="is_support" property="support" />
		<result column="is_supported" property="supported" />
		<result column="is_pay" property="pay" />
		<result column="is_payed" property="payed" />
		<result column="is_declare" property="declare" />
		<result column="is_declared" property="declared" />
		<result column="is_transfer" property="tranfer" />
		<result column="is_transferred" property="tranferred" />
		<result column="is_pay_supported" property="paySupported" />
		<result column="is_declare_supported" property="declareSupported" />
		<result column="is_transfer_supported" property="transferSupported" />
		<result column="account_type" property="accountType" />
		<result column="area_type" property="areaType" />
		<result column="manager_no" property="managerNo" />
		<result column="manager_name" property="managerName" />
		<result column="tax_real" property="taxReal" />
		<result column="declare_account_name" property="declareAccountName" />
		<result column="pay_account_name" property="payAccountName" />
		<result column="is_overseas" property="overseas" />

		<result column="annuity" property="annuity" />
		<result column="working_years" property="workingYears" />
		<result column="business_health_insurance" property="businessHealthInsurance" />
		<result column="endowment_insurance" property="endowmentInsurance" />
		<result column="domestic_days" property="domesticDays" />
		<result column="overseas_days" property="overseasDays" />
		<result column="domestic_income_domestic_payment" property="domesticIncomeDomesticPayment" />
		<result column="domestic_income_overseas_payment" property="domesticIncomeOverseasPayment" />
		<result column="overseas_income_domestic_payment" property="overseasIncomeDomesticPayment" />
		<result column="overseas_income_overseas_payment" property="overseasIncomeOverseasPayment" />
		<result column="housing_subsidy" property="housingSubsidy" />
		<result column="meal_allowance" property="mealAllowance" />
		<result column="laundry_fee" property="laundryFee" />
		<result column="removing_indemnity_fee" property="removingIndemnityFee" />
		<result column="missionallowance" property="missionallowance" />
		<result column="visiting_relatives_fee" property="visitingRelativesFee" />
		<result column="language_training_fee" property="languageTrainingFee" />
		<result column="education_funds" property="educationFunds" />
		<result column="exercise_income_month" property="exerciseIncomeMonth" />
		<result column="exercise_income_year" property="exerciseIncomeYear" />
		<result column="number_of_months" property="numberOfMonths" />
		<result column="exercise_tax_amount" property="exerciseTaxAmount" />
		<result column="pre_tax_aggregate" property="preTaxAggregate" />
		<result column="duty_free_allowance" property="dutyFreeAllowance" />
		<result column="others" property="others" />

	</resultMap>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap2" type="com.ciicsh.gto.fcbusinesscenter.tax.entity.po.TaskMainPO">
		<id column="id" property="id" />
		<result column="task_no" property="taskNo" />
		<result column="manager_no" property="managerNo" />
		<result column="manager_name" property="managerName" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
		<result column="has_combined" property="hasCombined" />
		<result column="created_by_display_name" property="createdByDisplayName" />
		<result column="modified_by_display_name" property="modifiedByDisplayName" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <!--<sql id="Base_Column_List">
        id, task_no, manager_no, manager_name, status, remark, is_active, created_time, modified_time, created_by, modified_by
    </sql>-->

	<!-- 查询主任务明细 -->
	<select id="queryTaskMainDetails" resultMap="BaseResultMap">
		SELECT
		t1.id,t1.task_main_id,t1.task_main_detail_id,t1.calculation_batch_detail_id,t1.batch_no,t1.tax_real,t4.is_overseas
		,t1.employee_no,t1.employee_name,t1.id_type,t1.id_no,t1.period,t1.income_subject,t1.income_total,t1.income_dutyfree,t1.deduct_retirement_insurance,t1.deduct_medical_insurance
		,t1.deduct_dleness_insurance,t1.deduct_property,t1.deduct_house_fund,t1.deduct_takeoff,t1.deduct_other,t1.deduct_total,t1.deduction,t1.donation,t1.income_for_tax
		,t1.tax_rate,t1.quick_cal_deduct,t1.tax_amount,t1.tax_deduction,t1.tax_withhold_amount,t1.tax_withholded_amount,t1.tax_remedy_or_return
		,t1.annuity,t1.working_years,t1.business_health_insurance,t1.endowment_insurance,t1.domestic_days,t1.overseas_days,t1.domestic_income_domestic_payment,t1.domestic_income_overseas_payment,t1.overseas_income_domestic_payment,t1.overseas_income_overseas_payment,t1.housing_subsidy,t1.meal_allowance,t1.laundry_fee
		,t1.removing_indemnity_fee,t1.missionallowance,t1.visiting_relatives_fee,t1.language_training_fee,t1.education_funds,t1.exercise_income_month,t1.exercise_income_year,t1.number_of_months,t1.exercise_tax_amount,t1.pre_tax_aggregate,t1.duty_free_allowance,t1.others
		,t2.declare_account,t2.pay_account,t2.declare_account_name,t2.pay_account_name,t2.receipt_account,t2.support_no,t2.support_name,t2.is_support,t2.is_supported,t2.is_pay,t2.is_payed,t2.is_declare
		,t2.is_declared,t2.is_transfer,t2.is_transferred,t2.is_declare_supported,t2.is_transfer_supported,t2.is_pay_supported
		,t2.account_type,t2.area_type,t3.manager_no,t3.manager_name
		FROM tax_fc_task_main_detail t1,tax_fc_employee_service_batch t2,tax_fc_task_main t3,tax_fc_employee_info_batch t4
		where t1.task_main_id = #{taskMainId} and t1.calculation_batch_detail_id = t2.cal_batch_detail_id and t1.task_main_id = t3.id and t1.calculation_batch_detail_id=t4.cal_batch_detail_id
		and t1.task_main_detail_id is null
	</select>


	<select id="selectNumsForOverdueOrFine" resultType="java.lang.Integer">
		select count(tt.c) from (
		select count(1) as c from tax_fc_task_main t1,tax_fc_task_sub_declare t2 where t1.id = t2.task_main_id and (t2.overdue <![CDATA[ <> ]]> 0 or t2.fine <![CDATA[ <> ]]> 0) and t1.id = #{taskMainId}
		union all
		select count(1) as c  from tax_fc_task_main t1,tax_fc_task_sub_money t3 where t1.id = t3.task_main_id and (t3.overdue <![CDATA[ <> ]]> 0 or t3.fine <![CDATA[ <> ]]> 0) and t1.id = #{taskMainId}
		union all
		select count(1) as c  from tax_fc_task_main t1,tax_fc_task_sub_payment t4 where t1.id = t4.task_main_id and (t4.overdue <![CDATA[ <> ]]> 0 or t4.fine <![CDATA[ <> ]]> 0) and t1.id = #{taskMainId}
		union all
		select count(1) as c  from tax_fc_task_main t1,tax_fc_task_sub_supplier t5 where t1.id = t5.task_main_id and (t5.overdue <![CDATA[ <> ]]> 0 or t5.fine <![CDATA[ <> ]]> 0) and t1.id = #{taskMainId}
		) tt where tt.c >0
	</select>

	<!--查询待审批主任务-->
	<select id="queryTaskMainForCheck" resultMap="BaseResultMap2"  parameterType="java.util.Map">
		select t1.id,
		t1.task_no,
		t1.manager_no,
		t1.manager_name,
		t1.status,
		t1.remark,
		t1.is_active,
		t1.created_time,
		t1.modified_time,
		t1.created_by,
		t1.modified_by,
		t1.has_combined,
		t1.created_by_display_name,
		t1.modified_by_display_name
		from tax_fc_task_main t1,tax_fc_task_workflow t2
		where t1.is_active = 1 and t2.is_active = 1 and t1.task_no = t2.mission_id
		<if test="managerNos != null and managerNos.length != 0">
			and t1.manager_no in
			<foreach collection="managerNos" item="managerNo"
					 index="index" open="(" close=")" separator=",">
				#{managerNo}
			</foreach>
		</if>
		<if test="taskNo != null and taskNo != ''">
			and t1.task_no = #{taskNo}
		</if>
		<if test="roles != null and roles.length != 0">
			and t2.assumer_code in
			<foreach collection="roles" item="role"
					 index="index" open="(" close=")" separator=",">
				#{role}
			</foreach>
		</if>
		order by t2.created_time desc
	</select>

	<select id="queryServiceCategoryForTaskMain" resultType="java.lang.String">
		select t2.service_category from tax_fc_task_main t1,tax_fc_calculation_batch t2,tax_fc_calculation_batch_task_main t3
		where t1.id =t3.task_main_id and t2.id = t3.cal_batch_id and t1.id = #{taskMainId}
	</select>

	<!--根据主任务ID数组以及状态查询个子任务此状态的数目-->
	<select id="querySubTaskNumByMainIdsAndStatus" resultType="java.lang.Integer">
		select count(dmps.num) from (
		select count(1) as num from tax_fc_task_sub_declare sd where sd.status = #{status} and sd.task_main_id in
		<foreach collection="taskMainIds" item="taskMainId" open="(" separator="," close=")">#{taskMainId}
		</foreach>
		UNION ALL
		select count(1) as num from tax_fc_task_sub_money sm where sm.status = #{status} and sm. task_main_id in
		<foreach collection="taskMainIds" item="taskMainId" open="(" separator="," close=")">
			#{taskMainId}
		</foreach>
		UNION ALL
		select count(1) as num from tax_fc_task_sub_payment sp where sp.status = #{status} and sp.task_main_id in
		<foreach collection="taskMainIds" item="taskMainId" open="(" separator="," close=")">
			#{taskMainId}
		</foreach>
		UNION ALL
		select count(1) as num from tax_fc_task_sub_supplier ss where ss.status = #{status} and ss.task_main_id in
		<foreach collection="taskMainIds" item="taskMainId" open="(" separator="," close=")">
			#{taskMainId}
		</foreach>
		) dmps where dmps.num > 0
	</select>

</mapper>
