<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.apiservice.dao.SalaryGrantTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.apiservice.entity.po.SalaryGrantTaskPO">
		<id column="salary_grant_main_task_id" property="salaryGrantMainTaskId" />
		<result column="salary_grant_main_task_code" property="salaryGrantMainTaskCode" />
		<!--<result column="work_flow_task_id" property="workFlowTaskId" />-->
		<result column="management_id" property="managementId" />
		<result column="management_name" property="managementName" />
		<result column="batch_code" property="batchCode" />
		<result column="origin_batch_code" property="originBatchCode" />
		<result column="grant_cycle" property="grantCycle" />
		<result column="payment_total_sum" property="paymentTotalSum" />
		<result column="total_person_count" property="totalPersonCount" />
		<result column="chinese_count" property="chineseCount" />
		<result column="foreigner_count" property="foreignerCount" />
		<result column="local_grant_count" property="localGrantCount" />
		<result column="supplier_grant_count" property="supplierGrantCount" />
		<result column="grant_date" property="grantDate" />
		<result column="grant_time" property="grantTime" />
		<result column="grant_type" property="grantType" />
		<result column="grant_mode" property="grantMode" />
		<result column="is_adversion" property="isAdversion" />
		<result column="adversion_type" property="adversionType" />
		<result column="remark" property="remark" />
		<result column="invalid_reason" property="invalidReason" />
		<result column="approved_opinion" property="approvedOpinion" />
		<result column="task_status" property="taskStatus" />
		<result column="task_type" property="taskType" />
		<result column="is_include_foreign_currency" property="isIncludeForeignCurrency" />
		<result column="operator_user_id" property="operatorUserId" />
		<result column="approve_user_id" property="approveUserId" />
		<result column="is_active" property="isActive" />
		<result column="created_by" property="createdBy" />
		<result column="created_time" property="createdTime" />
		<result column="modified_by" property="modifiedBy" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>

	<!-- query task page list,include main task and sub task -->
	<resultMap id="pageResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.apiservice.entity.bo.SalaryGrantTaskBO">
		<result column="task_id" property="taskId" />
		<result column="task_code" property="taskCode" />
		<result column="management_id" property="managementId" />
		<result column="management_name" property="managementName" />
		<result column="batch_code" property="batchCode" />
		<result column="grant_cycle" property="grantCycle" />
		<result column="payment_total_sum" property="paymentTotalSum" />
		<result column="total_person_count" property="totalPersonCount" />
		<result column="chinese_count" property="chineseCount" />
		<result column="foreigner_count" property="foreignerCount" />
		<result column="grant_date" property="grantDate" />
		<result column="grant_type" property="grantType" />
		<result column="grant_type_name" property="grantTypeName" />
		<result column="grant_mode" property="grantMode" />
		<result column="grant_mode_name" property="grantModeName" />
		<result column="grant_account_code" property="grantAccountCode" />
		<result column="grant_account_name" property="grantAccountName" />
		<result column="remark" property="remark" />
		<result column="invalid_reason" property="invalidReason" />
		<result column="approved_opinion" property="approvedOpinion" />
		<result column="task_status" property="taskStatus" />
		<result column="task_status_name" property="taskStatusName" />
	</resultMap>

	<resultMap id="subTaskResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.apiservice.entity.bo.SalaryGrantSubTaskBO">
		<result column="task_id" property="taskId" />
		<result column="task_code" property="taskCode" />
		<result column="grant_mode" property="grantMode" />
		<result column="grant_mode_name" property="grantModeName" />
		<result column="grant_account_code" property="grantAccountCode" />
		<result column="payment_total_sum" property="paymentTotalSum" />
		<result column="total_person_count" property="totalPersonCount" />
		<result column="chinese_count" property="chineseCount" />
		<result column="foreigner_count" property="foreignerCount" />
		<result column="task_status" property="taskStatus" />
		<result column="task_status_name" property="taskStatusName" />
	</resultMap>

	<select id="listTask" resultMap="pageResultMap">
        SELECT
			t.task_id,
			t.task_code,
			t.management_name,
			t.management_id,
			t.batch_code,
			t.grant_cycle,
			t.payment_total_sum,
			t.total_person_count,
			t.chinese_count,
			t.foreigner_count,
			t.grant_date,
			t.grant_type,
			t.grant_type_name,
			t.task_status,
			t.task_status_name
		FROM
			(
				SELECT
					t1.salary_grant_main_task_id task_id,
					t1.salary_grant_main_task_code task_code,
					t1.management_name,
					t1.management_id,
					t1.batch_code,
					t1.grant_cycle,
					t1.payment_total_sum,
					t1.total_person_count,
					t1.chinese_count,
					t1.foreigner_count,
					t1.grant_date,
					t1.grant_type,
					'' as grant_type_name,
					t1.task_status,
					'' as task_status_name
				FROM
					sg_salary_grant_main_task t1
				WHERE
					t1.is_active = 1
				AND t1.batch_code IN
					<foreach item="batchCodeList" index="index" collection="list"
							 open="(" separator="," close=")"> #{batchCodeList}
					</foreach>
				UNION
					SELECT
						t1.task_id,
						t1.task_code,
						t1.management_name,
						t1.management_id,
						t1.batch_code,
						t1.grant_cycle,
						t1.payment_total_sum,
						t1.total_person_count,
						t1.chinese_count,
						t1.foreigner_count,
						t1.grant_date,
						t1.grant_type,
						'' as grant_type_name,
						t1.task_status,
						'' as task_status_name
					FROM
						sg_salary_grant_task_history t1
					WHERE
						t1.is_active = 1
					AND t1.task_status = '4'
					AND t1.task_type = 0
					AND t1.batch_code IN
						<foreach item="batchCodeList" index="index" collection="list"
								 open="(" separator="," close=")"> #{batchCodeList}
						</foreach>
			) t
		ORDER BY
			t.task_code
	</select>

	<select id="listSubTask" resultMap="subTaskResultMap">
		SELECT
			t.salary_grant_sub_task_id task_id,
			t.salary_grant_sub_task_code task_code,
			t.grant_mode,
			'' as grant_mode_name,
			t.grant_account_code,
			t.payment_total_sum,
			t.total_person_count,
			t.chinese_count,
			t.foreigner_count,
			t.task_status,
			'' as task_status_name
		FROM
			sg_salary_grant_sub_task t
		WHERE
			t.salary_grant_main_task_code = #{taskCode}
		AND t.is_active = 1
		ORDER BY
			t.grant_mode,
			t.salary_grant_sub_task_code ASC
	</select>

</mapper>