<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.dao.PrEmpGroupEmpRelationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrEmpGroupEmpRelationPO">
		<id column="id" property="id" />
		<result column="emp_group_code" property="empGroupCode" />
		<result column="emp_id" property="employeeId" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

	<select id="isExistEmpGroupEmpRelation" resultType="int">
		SELECT
			COUNT(*)
		FROM
			pr_emp_group_emp_relation
		WHERE
			emp_group_code = #{empGroupCode}
		AND
			employee_id = #{employeeId}
		AND
			is_active = 1
	</select>

	<select id="delByEmpGroupCodes" resultType="int">
		DELETE FROM pr_emp_group_emp_relation WHERE emp_group_code in
		<foreach item="eGroupCode" collection="list" open="(" separator="," close=")">
			#{eGroupCode}
		</foreach>
		AND is_active = 1
	</select>

	<delete id="deleteEmpGroupRelation">
		DELETE FROM pr_emp_group_emp_relation
		WHERE
		emp_group_code = #{empGroupCode}
		AND
		employee_id IN
		<foreach item="item" index="index" collection="employeeIds"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>
