<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.dao.IPrFixedInputItemMapper">

    <!--<resultMap id="PrFixedInputItemResultMap" type="PrFixedInputItemEntity">-->
        <!--<id column="FixedInputItemID" jdbcType="INTEGER" property="fixedInputItemId"></id>-->
        <!--<result column="EmployeeID" jdbcType="VARCHAR" property="employeeId" />-->
        <!--<result column="PRItemName" jdbcType="VARCHAR" property="prItemName" />-->
        <!--<result column="PRItemValue" property="prItemValue" />-->
        <!--<result property="isActive" column="IsActive" />-->
        <!--<result property="dataChangeCreateTime" column="DataChange_CreateTime" />-->
        <!--<result property="dataChangeLastTime" column="DataChange_LastTime" />-->
        <!--<result property="createdBy" column="CreatedBy" />-->
        <!--<result property="modifiedBy" column="ModifiedBy" />-->
    <!--</resultMap>-->

    <!--<select id="selectList" resultMap="PrFixedInputItemResultMap">-->
        <!--SELECT-->
            <!--*-->
        <!--FROM-->
            <!--PR_FixedInputItem-->
    <!--</select>-->

    <!--<insert id="insertList">-->
        <!--INSERT INTO PR_FixedInputItem (-->
            <!--EmployeeID,-->
            <!--PRItemName,-->
            <!--PRItemValue,-->
            <!--IsActive,-->
            <!--DataChange_CreateTime,-->
            <!--DataChange_LastTime,-->
            <!--CreatedBy,-->
            <!--ModifiedBy)-->
        <!--VALUES-->
        <!--<foreach collection="paramList" item="item" index="index" separator=",">-->
            <!--(-->
            <!--#{item.employeeId},-->
            <!--#{item.prItemName},-->
            <!--#{item.prItemValue},-->
            <!--1,-->
            <!--sysdate(),-->
            <!--sysdate(),-->
            <!--#{item.createdBy},-->
            <!--#{item.modifiedBy}-->
            <!--)-->
        <!--</foreach>-->
    <!--</insert>-->

    <!--<delete id="deleteListByEmployeeId">-->
        <!--DELETE FROM PR_FixedInputItem-->
        <!--WHERE EmployeeID IN-->
        <!--<foreach collection="empIds" index="index" item="empId" open="(" close=")" separator=",">-->
            <!--#{empId}-->
        <!--</foreach>-->
    <!--</delete>-->

</mapper>
