<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.dao.IPrGroupMapper">

    <!--<resultMap id="BaseResultMap" type="PrGroupEntity">-->
        <!--<id column="PRGroupID" jdbcType="VARCHAR" property="entityId"></id>-->
        <!--<result column="ParentPRGroupID" jdbcType="VARCHAR" property="parentId" />-->
        <!--<result column="PRGroupCode" jdbcType="VARCHAR" property="code" />-->
        <!--<result column="ManagementID" jdbcType="VARCHAR" property="managementId" />-->
        <!--<result column="PRGroupTemplateID" property="groupTemplateId" />-->
        <!--<result column="PRGroupName" jdbcType="VARCHAR" property="name" />-->
        <!--<result column="Version" jdbcType="VARCHAR" property="version" />-->
        <!--<result column="Remark" jdbcType="VARCHAR" property="remark" />-->
        <!--<result column="IsTemplate" jdbcType="BIGINT" property="isTemplate" />-->
        <!--<result property="isActive" column="IsActive" />-->
        <!--<result property="dataChangeCreateTime" column="DataChange_CreateTime" />-->
        <!--<result property="dataChangeLastTime" column="DataChange_LastTime" />-->
        <!--<result property="createdBy" column="CreatedBy" />-->
        <!--<result property="modifiedBy" column="ModifiedBy" />-->
        <!--<collection property="prItemEntityList" ofType="PrItemEntity">-->
            <!--<id column="PRItemID" property="entityId"/>-->
            <!--<result column="PRItemCode" property="code"/>-->
            <!--<result column="PRItemTemplateID" property="templateId"/>-->
            <!--<result column="ManagementID" property="managementId"/>-->
            <!--<result column="PRItemName" property="name"/>-->
            <!--<result column="PRItemAliasName" property="aliasName"/>-->
            <!--<result column="PRItemType" property="type"/>-->
            <!--<result column="DataType" property="dataType"/>-->
            <!--<result column="DefaultValueStyle" property="defaultValueStyle"/>-->
            <!--<result column="DefaultValue" property="defaultValue"/>-->
            <!--<result column="DecimalProcessType" property="decimalProcessType"/>-->
            <!--<result column="CalPrecision" property="precision"/>-->
            <!--<result column="FormulaContent" property="formula"/>-->
            <!--<result column="ItemCondition" property="itemCondition"/>-->
            <!--<result column="IsHidden" property="isHidden"/>-->
            <!--<result column="CalPriority" property="calPriority"/>-->
            <!--<result column="DisplayPriority" property="disPriority"/>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--<select id="selectList" parameterType="com.ciicsh.gto.salarymanagement.entity.PrGroupEntity"-->
            <!--resultMap="BaseResultMap">-->
        <!--SELECT-->
        <!--pg.PRGroupID,-->
        <!--pg.ParentPRGroupID,-->
        <!--pg.PRGroupCode,-->
        <!--pg.ManagementID,-->
        <!--pg.PRGroupTemplateID,-->
        <!--pg.PRGroupName,-->
        <!--pg.Version,-->
        <!--pg.Remark,-->
        <!--pg.IsTemplate,-->
        <!--pg.IsActive,-->
        <!--pg.DataChange_CreateTime,-->
        <!--pg.DataChange_LastTime,-->
        <!--pg.CreatedBy,-->
        <!--pg.ModifiedBy,-->
        <!--pi.PRItemID,-->
        <!--pi.PRItemCode,-->
        <!--pi.PRItemTemplateID,-->
        <!--pi.ManagementID,-->
        <!--pi.PRGroupID,-->
        <!--pi.PRGroupTemplateID,-->
        <!--pi.PRItemName,-->
        <!--pi.PRItemAliasName,-->
        <!--pi.PRItemType,-->
        <!--pi.DataType,-->
        <!--pi.DefaultValueStyle,-->
        <!--pi.DefaultValue,-->
        <!--pi.DecimalProcessType,-->
        <!--pi.CalPrecision,-->
        <!--pi.FormulaContent,-->
        <!--pi.ItemCondition,-->
        <!--pi.IsHidden,-->
        <!--pi.CalPriority,-->
        <!--pi.DisplayPriority-->
        <!--FROM-->
        <!--PR_PayrollGroup pg-->
        <!--LEFT JOIN-->
        <!--PR_PayrollItem pi-->
        <!--ON-->
        <!--pg.PRGroupID = pi.PRGroupID-->
        <!--WHERE-->
        <!--pg.PRGroupID = #{entityId}-->
    <!--</select>-->

    <!--&lt;!&ndash; 查询薪资组 &ndash;&gt;-->
    <!--<select id="selectQueryList" parameterType="com.ciicsh.gto.salarymanagement.entity.PrGroupEntity"-->
            <!--resultMap="BaseResultMap">-->
        <!--SELECT-->
        <!--<include refid="PrGroup_All_Columns" />-->
        <!--FROM-->
        <!--PR_PayrollGroup-->
        <!--WHERE TRUE-->
        <!--<if test="managementId!=null">AND ManagementID LIKE CONCAT('%',#{managementId},'%')</if>-->
        <!--<if test="name!=null">AND PRGroupName LIKE CONCAT('%',#{name},'%')</if>-->
    <!--</select>-->

    <!--&lt;!&ndash; 根据templateId获取薪资组列表 &ndash;&gt;-->
    <!--<select id="selectListByTemplateId" resultMap="BaseResultMap">-->
        <!--SELECT-->
        <!--pg.PRGroupID,-->
        <!--pg.ParentPRGroupID,-->
        <!--pg.PRGroupCode,-->
        <!--pg.ManagementID,-->
        <!--pg.PRGroupTemplateID,-->
        <!--pg.PRGroupName,-->
        <!--pg.Version,-->
        <!--pg.Remark,-->
        <!--pg.IsTemplate,-->
        <!--pg.IsActive,-->
        <!--pg.DataChange_CreateTime,-->
        <!--pg.DataChange_LastTime,-->
        <!--pg.CreatedBy,-->
        <!--pg.ModifiedBy,-->
        <!--pi.PRItemID,-->
        <!--pi.PRItemCode,-->
        <!--pi.PRItemTemplateID,-->
        <!--pi.ManagementID,-->
        <!--pi.PRItemName,-->
        <!--pi.PRItemAliasName,-->
        <!--pi.PRItemType,-->
        <!--pi.DataType,-->
        <!--pi.DefaultValueStyle,-->
        <!--pi.DefaultValue,-->
        <!--pi.DecimalProcessType,-->
        <!--pi.CalPrecision,-->
        <!--pi.FormulaContent,-->
        <!--pi.ItemCondition,-->
        <!--pi.IsHidden,-->
        <!--pi.CalPriority,-->
        <!--pi.DisplayPriority-->
        <!--FROM-->
        <!--PR_PayrollGroup pg,-->
        <!--PR_PayrollItem pi-->
        <!--WHERE-->
        <!--pg.PRGroupTemplateID = pi.PRGroupTemplateID-->
        <!--AND-->
        <!--pg.PRGroupTemplateID = #{groupTemplateId}-->
    <!--</select>-->

    <!--&lt;!&ndash; 获取薪资组名称列表 &ndash;&gt;-->
    <!--<select id="selectNameList" resultType="String">-->
        <!--SELECT PRGroupName FROM PR_PayrollGroup WHERE ManagementID = #{managementId}-->
    <!--</select>-->

    <!--&lt;!&ndash; 更新薪资组&ndash;&gt;-->
    <!--<update id="updateItem">-->
        <!--UPDATE PR_PayrollGroup-->
        <!--<include refid="PrGroup_Update" />-->
        <!--WHERE-->
        <!--PRGroupID = #{entityId}-->
    <!--</update>-->

    <!--&lt;!&ndash;  根据groupId获取单个薪资组 &ndash;&gt;-->
    <!--<select id="selectItemById" parameterType="String" resultMap="BaseResultMap">-->
        <!--SELECT-->
        <!--pg.PRGroupID,-->
        <!--pg.ParentPRGroupID,-->
        <!--pg.PRGroupCode,-->
        <!--pg.ManagementID,-->
        <!--pg.PRGroupTemplateID,-->
        <!--pg.PRGroupName,-->
        <!--pg.Version,-->
        <!--pg.Remark,-->
        <!--pg.IsTemplate,-->
        <!--pg.IsActive,-->
        <!--pg.DataChange_CreateTime,-->
        <!--pg.DataChange_LastTime,-->
        <!--pg.CreatedBy,-->
        <!--pg.ModifiedBy,-->
        <!--pi.PRItemID,-->
        <!--pi.PRItemCode,-->
        <!--pi.PRItemTemplateID,-->
        <!--pi.ManagementID,-->
        <!--pi.PRItemName,-->
        <!--pi.PRItemAliasName,-->
        <!--pi.PRItemType,-->
        <!--pi.DataType,-->
        <!--pi.DefaultValueStyle,-->
        <!--pi.DefaultValue,-->
        <!--pi.DecimalProcessType,-->
        <!--pi.CalPrecision,-->
        <!--pi.FormulaContent,-->
        <!--pi.ItemCondition,-->
        <!--pi.IsHidden,-->
        <!--pi.CalPriority,-->
        <!--pi.DisplayPriority-->
        <!--FROM-->
        <!--PR_PayrollGroup pg-->
        <!--LEFT JOIN-->
        <!--PR_PayrollItem pi-->
        <!--ON-->
        <!--pg.PRGroupID = pi.PRGroupId-->
        <!--WHERE-->
        <!--pg.PRGroupID = #{entityId}-->
    <!--</select>-->

    <!--&lt;!&ndash;插入薪资项模板&ndash;&gt;-->
    <!--<insert id="insertItem" parameterType="com.ciicsh.gto.salarymanagement.entity.PrGroupEntity">-->
        <!--INSERT INTO PR_PayrollGroup(-->
        <!--<include refid="PrGroup_All_Insert_Columns" />-->
        <!--)-->
        <!--VALUES-->
        <!--(-->
        <!--#{entityId},-->
        <!--#{parentId},-->
        <!--#{code},-->
        <!--#{managementId},-->
        <!--#{groupTemplateId},-->
        <!--#{name},-->
        <!--#{version},-->
        <!--#{remark},-->
        <!--#{isTemplate},-->
        <!--FALSE ,-->
        <!--sysdate(),-->
        <!--sysdate(),-->
        <!--#{createdBy},-->
        <!--#{modifiedBy}-->
        <!--)-->
    <!--</insert>-->

    <!--&lt;!&ndash;删除薪资组&ndash;&gt;-->
    <!--<delete id="deletePrGroup">-->
        <!--DELETE FROM-->
        <!--PR_PayrollGroup-->
        <!--WHERE-->
        <!--PRGroupID = #{prGroupId}-->
    <!--</delete>-->

    <!--<sql id="PrGroup_All_Columns">-->
        <!--PRGroupID,-->
        <!--ParentPRGroupID,-->
        <!--PRGroupCode,-->
        <!--ManagementID,-->
        <!--PRGroupTemplateID,-->
        <!--PRGroupName,-->
        <!--Version,-->
        <!--Remark,-->
        <!--IsTemplate,-->
        <!--IsActive,-->
        <!--DataChange_CreateTime,-->
        <!--DataChange_LastTime,-->
        <!--CreatedBy,-->
        <!--ModifiedBy-->
    <!--</sql>-->

    <!--<sql id="PrGroup_All_Insert_Columns">-->
        <!--PRGroupID,-->
        <!--ParentPRGroupID,-->
        <!--PRGroupCode,-->
        <!--ManagementID,-->
        <!--PRGroupTemplateID,-->
        <!--PRGroupName,-->
        <!--Version,-->
        <!--Remark,-->
        <!--IsTemplate,-->
        <!--IsActive,-->
        <!--DataChange_CreateTime,-->
        <!--DataChange_LastTime,-->
        <!--CreatedBy,-->
        <!--ModifiedBy-->
    <!--</sql>-->

    <!--<sql id="whereQuery">-->
        <!--<trim prefix="WHERE" prefixOverrides="AND | OR">-->
            <!--<if test="entityId != null and entityId != ''">-->
                <!--AND PRGroupID = #{entityId}-->
            <!--</if>-->

            <!--<if test="managementId != null and managementId != ''">-->
                <!--AND ManagementID = #{managementId}-->
            <!--</if>-->

        <!--</trim>-->
    <!--</sql>-->

    <!--<sql id="PrGroup_Update">-->
        <!--<trim prefix="set" suffixOverrides=",">-->
            <!--<if test="parentId != null and parentId != ''">-->
                <!--ParentPRGroupID = #{parentId},-->
            <!--</if>-->
            <!--<if test="code != null and code !=''">-->
                <!--PRGroupCode = #{code},-->
            <!--</if>-->
            <!--<if test="managementId != null and managementId != ''">-->
                <!--ManagementID = #{managementId},-->
            <!--</if>-->
            <!--<if test="groupTemplateId != null and groupTemplateId != ''">-->
                <!--PRGroupTemplateID = #{groupTemplateId},-->
            <!--</if>-->
            <!--<if test="name != null and name != ''">-->
                <!--PRGroupName = #{name},-->
            <!--</if>-->
            <!--<if test="version != null and version != ''">-->
                <!--Version = #{version},-->
            <!--</if>-->
            <!--<if test="remark != null and remark != ''">-->
                <!--Remark = #{remark},-->
            <!--</if>-->
            <!--<if test="isTemplate != null and isTemplate != ''">-->
                <!--IsTemplate = #{isTemplate},-->
            <!--</if>-->
            <!--<if test="isActive != null">-->
                <!--IsActive = #{isActive},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</sql>-->




</mapper>
