<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.dao.PrGroupConfigTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollConfigTaskPO">
		<id column="id" property="id" />
		<result column="config_task_id" property="configTaskId" />
		<result column="management_id" property="managementId" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="target_id" property="targetId" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="modified_by" property="modifiedBy" />
		<result column="group_code" property="groupCode" />
		<result column="group_name" property="groupName" />
	</resultMap>

	<select id="selectPrGroupConfigTaskList" parameterType="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollConfigTaskPO" resultMap="BaseResultMap">
		SELECT
		  ppct.config_task_id,
		  ppct.management_id,
		  ppct.status,
		  ppct.type,
		  ppct.target_id,
		  ppct.remark,
		  ppg.group_code,
		  ppg.group_name
		FROM
		pr_payroll_config_task ppct
		  LEFT JOIN pr_payroll_group ppg
			ON ppct.target_id = ppg.group_code
		WHERE ppct.is_active = 1
		  AND ppg.is_active = 1
		  AND ppct.management_id = ppg.management_id
		<if test="type != null">
		  AND ppct.type = #{type}
		</if>
		<if test="managementId != null and managementId != ''">
		  AND ppct.management_id = #{managementId}
		</if>
		<if test="groupCode != null and groupCode != ''">
		  AND ppg.group_code = #{groupCode}
		</if>
		<if test="groupName != null and groupName !=''">
		  AND ppg.group_name LIKE concat('%', #{groupName, jdbcType=VARCHAR}, '%')
		</if>
		ORDER BY ppct.modified_time
	</select>

	<insert id="insertPrPayrollConfigTask" parameterType="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollConfigTaskPO">
		INSERT INTO pr_payroll_config_task (
		  config_task_id,
		  management_id,
		  status,
		  type,
		  target_id,
		  remark,
		  created_by,
		  modified_by
		)
		VALUES(
		  #{configTaskId},
		  #{managementId},
		  #{status},
		  #{type},
		  #{targetId},
		  #{remark},
		  #{createdBy},
		  #{modifiedBy}
		 )
	</insert>

</mapper>
