<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.dao.PrPayrollItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollItemPO">
		<id column="id" property="id" />
		<result column="item_code" property="itemCode" />
		<result column="parent_item_code" property="parentItemCode" />
		<result column="management_id" property="managementId" />
		<result column="payroll_group_code" property="payrollGroupCode" />
		<result column="payroll_group_template_code" property="payrollGroupTemplateCode" />
		<result column="item_name" property="itemName" />
		<result column="item_type" property="itemType" />
		<result column="base_item_code" property="baseItemCode" />
		<result column="data_type" property="dataType" />
		<result column="default_value_style" property="defaultValueStyle" />
		<result column="default_value" property="defaultValue" />
		<result column="decimal_process_type" property="decimalProcessType" />
		<result column="cal_precision" property="calPrecision" />
		<result column="full_formula" property="fullFormula" />
        <result column="origin_formula" property="originFormula" />
		<result column="formula_content" property="formulaContent" />
		<result column="origin_condition" property="originCondition" />
		<result column="item_condition" property="itemCondition" />
		<result column="cal_priority" property="calPriority" />
		<result column="display_priority" property="displayPriority" />
		<result column="remark" property="remark" />
		<result column="can_lock" property="canLock" />
        <result column="extend_flag" property="extendFlag" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

	<resultMap id="ApprovedResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollItemPO">
		<id column="item_code" property="itemCode" />
		<result column="parent_item_code" property="parentItemCode" />
		<result column="management_id" property="managementId" />
		<result column="payroll_group_code" property="payrollGroupCode" />
		<result column="payroll_group_template_code" property="payrollGroupTemplateCode" />
		<result column="item_name" property="itemName" />
		<result column="item_type" property="itemType" />
		<result column="base_item_code" property="baseItemCode" />
		<result column="data_type" property="dataType" />
		<result column="default_value_style" property="defaultValueStyle" />
		<result column="default_value" property="defaultValue" />
		<result column="decimal_process_type" property="decimalProcessType" />
		<result column="cal_precision" property="calPrecision" />
		<result column="full_formula" property="fullFormula" />
		<result column="origin_formula" property="originFormula" />
		<result column="formula_content" property="formulaContent" />
		<result column="origin_condition" property="originCondition" />
		<result column="item_condition" property="itemCondition" />
		<result column="cal_priority" property="calPriority" />
		<result column="display_priority" property="displayPriority" />
		<result column="remark" property="remark" />
		<result column="can_lock" property="canLock" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>


	<resultMap id="PayrollItemsMap" type="com.ciicsh.gto.salarymanagement.entity.po.custom.PrItemInAccountSetPO">
		<result column="payroll_item_code" property="payrollItemCode" />
		<result column="payroll_item_name" property="payrollItemName" />
	</resultMap>
	
	<delete id="deleteItemByCodes">
		DELETE FROM pr_payroll_item
		WHERE
		item_code IN
		<foreach item="item" index="index" collection="itemCodes"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="groupCode != null and groupCode != ''">
			AND payroll_group_code = #{groupCode}
		</if>
		<if test="managementId != null and managementId != ''">
			AND management_id = #{managementId}
		</if>
	</delete>

	<select id="getPayrollItems" parameterType="PayrollGroupExtPO" resultType="PrPayrollItemPO">
		SELECT
		<include refid="PayrollItem_All_Columns" />
		FROM
		pr_payroll_item
		<include refid="whereQuery" />
	</select>

	<sql id="PayrollItem_All_Columns">
		id,
		item_code,
		parent_item_code,
		management_id,
		payroll_group_code,
		payroll_group_template_code,
		item_name,
		item_type,
		base_item_code,
		data_type,
		default_value_style,
		default_value,
		decimal_process_type,
		cal_precision,
		full_formula,
		origin_formula,
		formula_content,
		origin_condition,
		item_condition,
		cal_priority,
		display_priority,
		remark,
		can_lock,
		extend_flag,
		is_active,
		created_time,
		modified_time,
		created_by,
		modified_by
	</sql>

	<sql id="PayrollItem_All_Columns_no_id">
		item_code,
		parent_item_code,
		management_id,
		payroll_group_code,
		payroll_group_template_code,
		item_name,
		item_type,
		base_item_code,
		data_type,
		default_value_style,
		default_value,
		decimal_process_type,
		cal_precision,
		full_formula,
		origin_formula,
		formula_content,
		origin_condition,
		item_condition,
		cal_priority,
		display_priority,
		remark,
		can_lock,
		extend_flag,
		is_active,
		created_time,
		modified_time,
		created_by,
		modified_by
	</sql>


	<sql id="whereQuery">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			is_active = 1
			<!--<if test="managementId != null and managementId != ''">-->
				<!--AND management_id = #{managementId}-->
			<!--</if>-->
			<if test="payrollGroupCode != null and payrollGroupCode != ''">
				AND payroll_group_code = #{payrollGroupCode}
			</if>
			<if test="payrollGroupTemplateCode != null and payrollGroupTemplateCode != ''">
				AND payroll_group_template_code = #{payrollGroupTemplateCode}
			</if>
		</trim>
	</sql>

	<insert id="insertBatchItems" parameterType="java.util.List">
		INSERT INTO
		pr_payroll_item(
			item_code,
			parent_item_code,
			management_id,
			payroll_group_code,
			payroll_group_template_code,
			item_name,
			item_type,
			base_item_code,
			data_type,
			default_value_style,
			default_value,
			decimal_process_type,
			cal_precision,
			full_formula,
            origin_formula,
			formula_content,
			origin_condition,
			item_condition,
			cal_priority,
			display_priority,
			remark,
			can_lock,
            extend_flag,
			is_active,
			created_time,
			modified_time,
			created_by,
			modified_by
		)
		VALUES
		<foreach collection="items" item="item" index= "index" separator=",">
			(
                #{item.itemCode},
                #{item.parentItemCode},
                #{item.managementId},
                #{item.payrollGroupCode},
                #{item.payrollGroupTemplateCode},
                #{item.itemName},
                #{item.itemType},
                #{item.baseItemCode},
                #{item.dataType},
                #{item.defaultValueStyle},
                #{item.defaultValue},
                #{item.decimalProcessType},
                #{item.calPrecision},
				#{item.fullFormula},
                #{item.originFormula},
                #{item.formulaContent},
				#{item.originCondition},
                #{item.itemCondition},
                #{item.calPriority},
                #{item.displayPriority},
                #{item.remark},
				#{item.canLock},
                #{item.extendFlag},
                #{item.isActive},
                sysdate(),
                sysdate(),
                #{item.createdBy},
                #{item.modifiedBy}
			)
		</foreach>
	</insert>

    <delete id="deleteItemByGroupCode">
        DELETE FROM pr_payroll_item
        WHERE
            payroll_group_code = #{groupCode}
    </delete>

    <delete id="deleteItemByGroupTemplateCode">
        DELETE FROM pr_payroll_item
        WHERE
            payroll_group_template_code = #{groupTemplateCode}
    </delete>

    <!-- 更新薪资项 -->
    <update id="updateItemById" parameterType="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollItemPO">
		UPDATE pr_payroll_item
			<trim prefix="set" suffixOverrides=",">
				<if test="parentItemCode != null">
					parent_item_code = #{parentItemCode},
				</if>
				<if test="managementId != null">
					management_id = #{managementId},
				</if>
				<if test="payrollGroupCode != null">
					payroll_group_code = #{payrollGroupCode},
				</if>
				<if test="payrollGroupTemplateCode != null">
					payroll_group_template_code = #{payrollGroupTemplateCode},
				</if>
				<if test="itemName != null">
					item_name = #{itemName},
				</if>
				<if test="itemType != null">
					item_type = #{itemType},
				</if>
				<if test="dataType != null">
					data_type = #{dataType},
				</if>
				<if test="defaultValueStyle != null">
					default_value_style = #{defaultValueStyle},
				</if>
				<if test="defaultValue != null">
					default_value = #{defaultValue},
				</if>
				<if test="decimalProcessType != null">
					decimal_process_type = #{decimalProcessType},
				</if>
				<if test="calPrecision != null">
					cal_precision = #{calPrecision},
				</if>
				<if test="fullFormula != null">
					full_formula = #{fullFormula},
				</if>
				<if test="originFormula != null">
					origin_formula = #{originFormula},
				</if>
				<if test="formulaContent != null">
					formula_content = #{formulaContent},
				</if>
				<if test="originCondition != null">
					origin_condition = #{originCondition},
				</if>
				<if test="itemCondition != null">
					item_condition = #{itemCondition},
				</if>
				<if test="calPriority != null">
					cal_priority = #{calPriority},
				</if>
				<if test="displayPriority != null">
					display_priority = #{displayPriority},
				</if>
				<if test="remark != null">
					remark = #{remark},
				</if>
				<if test="canLock != null">
					can_lock = #{canLock},
				</if>
				<if test="isActive != null">
					is_active = #{isActive},
				</if>
				<if test="modifiedBy != null">
					modified_by = #{modifiedBy},
				</if>
				modified_time = sysdate()
			</trim>
		WHERE
			id = #{id}
    </update>

	<select id="selectMaxCalPriorityOfGroup" resultType="int">
		SELECT
			CASE
				WHEN max(cal_priority) IS NULL THEN 0
				ELSE max(cal_priority)
			END
		FROM
			pr_payroll_item
		WHERE
		<choose>
			<when test="isTemplate != false">
				payroll_group_template_code = #{groupCode}
			</when>
			<otherwise>
				payroll_group_code = #{groupCode}
			</otherwise>
		</choose>

	</select>

	<select id="selectItemNames" resultMap="PayrollItemsMap">
		select case a.payroll_item_alias when '' then b.item_name ELSE a.payroll_item_alias end as payroll_item_name,
		a.payroll_item_code
		from pr_payroll_account_item_relation a,
		(select item_name,item_code ,account_set_code from pr_payroll_item inner join (select pr_group_code, account_set_code from normal_batch_view where account_set_code = (select account_set_code from pr_normal_batch where code=#{batchCode})) as t
		on pr_payroll_item.payroll_group_code = t.pr_group_code ) as b
		where a.account_set_code = b.account_set_code and a.payroll_item_code = b.item_code;
	</select>

	<select id="selectApprovedGroupItems" parameterType="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollItemPO" resultMap="ApprovedResultMap">
		SELECT
item_code,
		parent_item_code,
		management_id,
		payroll_group_code,
		payroll_group_template_code,
		item_name,
		item_type,
		base_item_code,
		data_type,
		default_value_style,
		default_value,
		decimal_process_type,
		cal_precision,
		full_formula,
		origin_formula,
		formula_content,
		origin_condition,
		item_condition,
		cal_priority,
		display_priority,
		remark,
		can_lock,
		is_active,
		created_time,
		modified_time,
		created_by,
		modified_by
		FROM
		pr_approved_payroll_item
		WHERE
		is_active = 1
		AND
		payroll_group_code = #{payrollGroupCode}
	</select>

	<select id="selectApprovedGroupTemplateItems" parameterType="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollItemPO" resultMap="ApprovedResultMap">
		SELECT
		item_code,
		parent_item_code,
		management_id,
		payroll_group_code,
		payroll_group_template_code,
		item_name,
		item_type,
		base_item_code,
		data_type,
		default_value_style,
		default_value,
		decimal_process_type,
		cal_precision,
		full_formula,
		origin_formula,
		formula_content,
		origin_condition,
		item_condition,
		cal_priority,
		display_priority,
		remark,
		can_lock,
		is_active,
		created_time,
		modified_time,
		created_by,
		modified_by
		FROM
		pr_approved_payroll_item
		WHERE
		is_active = 1
		AND
		payroll_group_template_code = #{payrollGroupTemplateCode}
		AND
		(
			payroll_group_code = ''
			OR
			payroll_group_code IS NULL
		)
	</select>

	<insert id="insertBatchApprovedItemsByGroup">
		REPLACE INTO pr_approved_payroll_item
		(
			item_code,
			parent_item_code,
			management_id,
			payroll_group_code,
			payroll_group_template_code,
			item_name,
			item_type,
			base_item_code,
			data_type,
			default_value_style,
			default_value,
			decimal_process_type,
			cal_precision,
			full_formula,
			origin_formula,
			formula_content,
			origin_condition,
			item_condition,
			cal_priority,
			display_priority,
			can_lock,
			remark,
			item_value,
			is_active,
			created_time,
			modified_time,
			created_by,
			modified_by
		)
		SELECT
			item_code,
			parent_item_code,
			management_id,
			payroll_group_code,
			payroll_group_template_code,
			item_name,
			item_type,
			base_item_code,
			data_type,
			default_value_style,
			default_value,
			decimal_process_type,
			cal_precision,
			full_formula,
			origin_formula,
			formula_content,
			origin_condition,
			item_condition,
			cal_priority,
			display_priority,
			can_lock,
			remark,
			item_value,
			is_active,
			sysdate(),
			sysdate(),
			created_by,
			modified_by
		FROM
			pr_payroll_item
		WHERE
		<choose>
		    <when test="prGroupTemplateCode == null ">
				payroll_group_code = #{payrollGroupCode}
			</when>
		    <when test="prGroupTemplateCode != null ">
				payroll_group_template_code = #{prGroupTemplateCode}
				AND
				(
					payroll_group_code = ''
					OR
					payroll_group_code IS NULL
				)
			</when>
	    </choose>
	</insert>

	<delete id="deleteApprovedItemByCode">
		DELETE
		FROM
		<choose>
			<when test="approvalStatus == 2 ">
				pr_approved_payroll_item
			</when>
			<when test="approvalStatus == 3 ">
				pr_payroll_item
			</when>
		</choose>
		WHERE
		<choose>
			<when test="prGroupTemplateCode != null and prGroupTemplateCode != ''">
				payroll_group_template_code = #{prGroupTemplateCode}
			</when>
			<when test="prGroupCode != null and prGroupCode != ''">
				payroll_group_code = #{prGroupCode}
			</when>
		</choose>
	</delete>

	<insert id="insertApprovedItemByCode">
		INSERT INTO
		<choose>
			<when test="approvalStatus == 2 ">
				pr_approved_payroll_item
			</when>
			<when test="approvalStatus == 3 ">
				pr_payroll_item
			</when>
		</choose>
			(
			  item_code,
			  parent_item_code,
			  management_id,
			  payroll_group_code,
			  payroll_group_template_code,
			  item_name,
			  item_type,
			  base_item_code,
			  data_type,
			  default_value_style,
			  default_value,
			  decimal_process_type,
			  cal_precision,
			  full_formula,
			  origin_formula,
			  formula_content,
			  origin_condition,
			  item_condition,
			  cal_priority,
			  display_priority,
			  can_lock,
			  remark,
			  item_value,
			  is_active,
			  created_time,
			  modified_time,
			  created_by,
			  modified_by
			)
			SELECT
			  item_code,
			  parent_item_code,
			  management_id,
			  payroll_group_code,
			  payroll_group_template_code,
			  item_name,
			  item_type,
			  base_item_code,
			  data_type,
			  default_value_style,
			  default_value,
			  decimal_process_type,
			  cal_precision,
			  full_formula,
			  origin_formula,
			  formula_content,
			  origin_condition,
			  item_condition,
			  cal_priority,
			  display_priority,
			  can_lock,
			  remark,
			  item_value,
			  is_active,
			  SYSDATE(),
			  SYSDATE(),
			  created_by,
			  modified_by
			FROM
		<choose>
			<when test="approvalStatus == 2 ">
				pr_payroll_item
			</when>
			<when test="approvalStatus == 3 ">
				pr_approved_payroll_item
			</when>
		</choose>
		WHERE
		<choose>
			<when test="prGroupTemplateCode != null and prGroupTemplateCode != ''">
				payroll_group_template_code = #{prGroupTemplateCode}
			</when>
			<when test="prGroupCode != null and prGroupCode != ''">
				payroll_group_code = #{prGroupCode}
			</when>
		</choose>
	</insert>

</mapper>
