<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.dao.PrPayrollAccountSetMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollAccountSetPO">
		<id column="id" property="id" />
		<result column="management_id" property="managementId" />
		<result column="account_set_Name" property="accountSetName" />
		<result column="account_set_code" property="accountSetCode" />
        <result column="if_group_template" property="ifGroupTemplate" />
		<result column="payroll_group_code" property="payrollGroupCode" />
		<result column="payroll_group_template_code" property="payrollGroupTemplateCode" />
		<result column="emp_group_code" property="empGroupCode" />
		<result column="start_day" property="startDay" />
		<result column="end_day" property="endDay" />
		<result column="payroll_period" property="payrollPeriod" />
		<result column="work_calendar_name" property="workCalendarName" />
		<result column="work_calendar_value" property="workCalendarValue" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

	<!-- 扩展查询结果映射 -->
	<resultMap id="BaseExtensionResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollAccountSetExtensionPO">
		<result column="id" property="id" />
		<result column="management_id" property="managementId" />
		<result column="account_set_Name" property="accountSetName" />
		<result column="account_set_code" property="accountSetCode" />
        <result column="if_group_template" property="ifGroupTemplate" />
		<result column="payroll_group_code" property="payrollGroupCode" />
		<result column="group_name" property="payrollGroupName" />
		<result column="payroll_group_template_code" property="payrollGroupTemplateCode" />
		<result column="group_template_name" property="payrollGroupTemplateName" />
		<result column="emp_group_code" property="empGroupCode" />
		<result column="name" property="empGroupName" />
		<result column="start_day" property="startDay" />
		<result column="end_day" property="endDay" />
		<result column="payroll_period" property="payrollPeriod" />
		<result column="work_calendar_name" property="workCalendarName" />
		<result column="work_calendar_value" property="workCalendarValue" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

	<resultMap id="AccountSetWithItemsMap" type="com.ciicsh.gto.salarymanagement.entity.po.custom.PrAccountSetOptPO">
		<id column="account_set_code" property="accountSetCode" />
		<result column="management_id" property="managementId" />
		<result column="account_set_name" property="accountSetName" />
		<collection property="accountItems" ofType="com.ciicsh.gto.salarymanagement.entity.po.custom.PrItemInAccountSetPO">
			<result column="payroll_item_code" property="payrollItemCode" />
			<result column="payroll_item_alias" property="payrollItemAlias" />
			<result column="payroll_item_name" property="payrollItemName" />
		</collection>
	</resultMap>

	<resultMap id="getKeyValueMap"   type="KeyValuePO">
		<result property="key" column="account_set_code" />
		<result property="value" column="account_set_name" />
	</resultMap>


	<select id="isExistPayrollAccountSet" parameterType="com.ciicsh.gto.salarymanagement.entity.po.custom.PrAccountSetOptPO" resultType="int">
		SELECT COUNT(*) FROM pr_payroll_account_set
		<include refid="whereIsExist" />
	</select>

	<select id="getPayrollAccountSetNames" resultMap="getKeyValueMap">
		SELECT
		account_set_name,
		account_set_code
		FROM
		pr_payroll_account_set
		WHERE
		management_id = #{managementId}
		AND
		is_active = 1
	</select>

	<select id="getPayrollAccountSets" parameterType="PrPayrollAccountSetPO" resultType="PrPayrollAccountSetPO">
		SELECT
		<include refid="PayrollAccountSet_All_Columns" />
		FROM
		pr_payroll_account_set
		<include refid="whereQuery" />
	</select>

	<select id="getAccountSetInfo" resultType="PrPayrollAccountSetPO">
		SELECT
		<include refid="PayrollAccountSet_All_Columns" />
		FROM
		pr_payroll_account_set
		WHERE account_set_code = #{accSetCode} AND is_active = 1
	</select>

	<select id="getPayrollAccountSetExts" resultMap="BaseExtensionResultMap" parameterType="PrPayrollAccountSetExtensionPO">
		SELECT
		<include refid="PayrollAccountSet_Extension_All_Columns" />
		FROM
		pr_payroll_account_set a
		INNER JOIN pr_emp_group b on a.emp_group_code = b.emp_group_code
		LEFT JOIN pr_payroll_group c on a.payroll_group_code = c.group_code
		LEFT JOIN pr_payroll_group_template d on a.payroll_group_template_code = d.group_template_code
		<include refid="whereExtQuery" />
		ORDER BY a.created_time DESC
	</select>
	
	<select id="getPayrollAccountSetExtByCode" resultMap="BaseExtensionResultMap">
		SELECT
		<include refid="PayrollAccountSet_Extension_All_Columns" />
		FROM
		pr_payroll_account_set a
		INNER JOIN pr_emp_group b on a.emp_group_code = b.emp_group_code
		LEFT JOIN pr_payroll_group c on a.payroll_group_code = c.group_code
		LEFT JOIN pr_payroll_group_template d on a.payroll_group_template_code = d.group_template_code
		WHERE
		a.account_set_code = #{accountSetCode} AND a.is_active = 1
	</select>
	
	<sql id="PayrollAccountSet_All_Columns">
		id,
		management_id,
		account_set_name,
		account_set_code,
		if_group_template,
		payroll_group_code,
		payroll_group_template_code,
		emp_group_code,
		start_day,
		end_day,
		payroll_period,
		work_calendar_name,
		work_calendar_value,
		remark,
		is_active,
		created_time,
		modified_time,
		created_by,
		modified_by
	</sql>

	<sql id="PayrollAccountSet_Extension_All_Columns">
		a.id,
		a.management_id,
		a.account_set_name,
		a.account_set_code,
		a.payroll_group_code,
		a.if_group_template,
		c.group_name,
		a.payroll_group_template_code,
		d.group_template_name,
		a.emp_group_code,
		b.`name`,
		a.start_day,
		a.end_day,
		a.payroll_period,
		a.work_calendar_name,
		a.work_calendar_value,
		a.remark,
		a.is_active,
		a.created_time,
		a.modified_time,
		a.created_by,
		a.modified_by
	</sql>
	
	<sql id="whereQuery">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != 0">
				AND id = #{id}
			</if>
			<if test="managementId != null and managementId != ''">
				AND management_id = #{managementId}
			</if>
			<if test="accountSetCode != null and accountSetCode !=''">
				AND account_set_code = #{accountSetCode}
			</if>
			<if test="accountSetName != null and accountSetName != ''">
				AND account_set_name = #{accountSetName}
			</if>
			<if test="payrollGroupCode != null and payrollGroupCode != ''">
				AND payroll_group_code = #{payrollGroupCode}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="isActive != null">
				AND is_active = #{isActive}
			</if>
		</trim>
	</sql>

	<sql id="whereExtQuery">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="managementId != null and managementId != ''">
				AND a.management_id IN (${managementId})
			</if>
			<if test="accountSetName != null and accountSetName != ''">
				AND a.account_set_name LIKE concat(#{accountSetName},'%')
			</if>
			<if test="empGroupName != null and empGroupName != ''">
				AND b.name LIKE concat(#{empGroupName},'%')
			</if>
			<if test="payrollGroupName != null and payrollGroupName != ''">
				AND c.group_name LIKE concat(#{payrollGroupName},'%')
			</if>
		</trim>
	</sql>

	<sql id="whereIsExist">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="managementId != null and managementId != ''">
				AND management_id = #{managementId}
			</if>
			<if test="accountSetName != null and accountSetName != ''">
				AND account_set_name = #{accountSetName}
			</if>
			<if test="accountSetCode != null and accountSetCode !=''">
				AND account_set_code != #{accountSetCode}
			</if>
		</trim>
	</sql>

	<select id="selectAccountSetWithItemsByManagementId" resultMap="AccountSetWithItemsMap">
		SELECT
			pas.account_set_code,
			pas.management_id,
			pas.account_set_name,
			pair.payroll_item_code,
			pair.payroll_item_alias,
			pi.item_name as payroll_item_name
		FROM
			pr_payroll_account_set pas
			LEFT JOIN pr_payroll_account_item_relation pair
				ON pas.account_set_code = pair.account_set_code
				AND pair.is_active = TRUE
			LEFT JOIN pr_payroll_item pi
				ON pair.payroll_item_code = pi.item_code
				AND pi.is_active = TRUE
		WHERE
			pas.is_active = TRUE
		AND
			pas.management_id = #{managementId}
	</select>

	<select id="countByEmpGroupCodeList" parameterType="list">
		select count(*) from pr_payroll_account_set
		<where>
			emp_group_code in
			<foreach item="item" collection="empGroupCodes" separator="," open="(" close=")" index="">
				#{item}
			</foreach>
		</where>
	</select>
</mapper>
