<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.mapper.PrPayrollItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagement.entity.po.PrPayrollItemPO">
		<id column="id" property="id" />
		<result column="item_code" property="itemCode" />
		<result column="parent_item_code" property="parentItemCode" />
		<result column="management_id" property="managementId" />
		<result column="payroll_group_code" property="payrollGroupCode" />
		<result column="payroll_group_template_code" property="payrollGroupTemplateCode" />
		<result column="item_name" property="itemName" />
		<result column="item_type" property="itemType" />
		<result column="base_item_code" property="baseItemCode" />
		<result column="data_type" property="dataType" />
		<result column="default_value_style" property="defaultValueStyle" />
		<result column="default_value" property="defaultValue" />
		<result column="decimal_process_type" property="decimalProcessType" />
		<result column="cal_precision" property="calPrecision" />
		<result column="formula_content" property="formulaContent" />
		<result column="item_condition" property="itemCondition" />
		<result column="cal_priority" property="calPriority" />
		<result column="display_priority" property="displayPriority" />
		<result column="remark" property="remark" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
