<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.SalaryGrantMainTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantMainTaskPO">
		<id column="salary_grant_main_task_id" property="salaryGrantMainTaskId" />
		<result column="salary_grant_main_task_code" property="salaryGrantMainTaskCode" />
		<result column="management_id" property="managementId" />
		<result column="management_name" property="managementName" />
		<result column="batch_code" property="batchCode" />
		<result column="origin_batch_code" property="originBatchCode" />
		<result column="grant_cycle" property="grantCycle" />
		<result column="payment_total_sum" property="paymentTotalSum" />
		<result column="total_person_count" property="totalPersonCount" />
		<result column="chinese_count" property="chineseCount" />
		<result column="foreigner_count" property="foreignerCount" />
		<result column="local_grant_count" property="localGrantCount" />
		<result column="supplier_grant_count" property="supplierGrantCount" />
		<result column="grant_date" property="grantDate" />
		<result column="grant_time" property="grantTime" />
		<result column="grant_type" property="grantType" />
		<result column="grant_mode" property="grantMode" />
		<result column="is_adversion" property="isAdversion" />
		<result column="adversion_type" property="adversionType" />
        <result column="is_advance" property="isAdvance" />
        <result column="advance_type" property="advanceType" />
        <result column="is_process" property="isProcess" />
		<result column="remark" property="remark" />
		<result column="invalid_reason" property="invalidReason" />
		<result column="approved_opinion" property="approvedOpinion" />
		<result column="task_status" property="taskStatus" />
		<result column="task_type" property="taskType" />
		<result column="is_include_foreign_currency" property="isIncludeForeignCurrency" />
        <result column="balance_grant" property="balanceGrant" />
        <result column="operator_user_id" property="operatorUserId" />
        <result column="approve_user_id" property="approveUserId" />
        <result column="work_flow_user_info" property="workFlowUserInfo" />
        <result column="batch_version" property="batchVersion" />
		<result column="is_active" property="isActive" />
		<result column="created_by" property="createdBy" />
		<result column="created_time" property="createdTime" />
		<result column="modified_by" property="modifiedBy" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>

    <!-- query task page list,include main task and sub task -->
    <resultMap id="PageResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        <result column="task_id" property="taskId" />
        <result column="task_code" property="taskCode" />
        <result column="management_id" property="managementId" />
        <result column="management_name" property="managementName" />
        <result column="batch_code" property="batchCode" />
        <result column="grant_cycle" property="grantCycle" />
        <result column="payment_total_sum" property="paymentTotalSum" />
        <result column="total_person_count" property="totalPersonCount" />
        <result column="chinese_count" property="chineseCount" />
        <result column="foreigner_count" property="foreignerCount" />
        <result column="local_grant_count" property="localGrantCount" />
        <result column="supplier_grant_count" property="supplierGrantCount" />
        <result column="grant_date" property="grantDate" />
        <result column="grant_time" property="grantTime" />
        <result column="grant_type" property="grantType" />
        <result column="grant_type_name" property="grantTypeName" />
        <result column="grant_mode" property="grantMode" />
        <result column="grant_mode_name" property="grantModeName" />
        <result column="grant_account_code" property="grantAccountCode" />
        <result column="grant_account_name" property="grantAccountName" />
        <result column="remark" property="remark" />
        <result column="invalid_reason" property="invalidReason" />
        <result column="approved_opinion" property="approvedOpinion" />
        <result column="task_status" property="taskStatus" />
        <result column="task_status_name" property="taskStatusName" />
        <result column="task_type" property="taskType" />
        <result column="created_time" property="createdTime" />
        <result column="operator_user_id" property="operatorUserId" />
        <result column="approve_user_id" property="approveUserId" />
        <result column="batch_version" property="batchVersion" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <sql id="sgDetailField">
        t1.salary_grant_main_task_id task_id, t1.salary_grant_main_task_code task_code, t1.batch_code, t1.management_id, t1.management_name, t1.grant_type, t1.grant_cycle, t1.grant_date, t1.grant_time, t1.created_time, t1.task_type, t1.task_status,
		t1.approved_opinion, t1.payment_total_sum,t1.total_person_count,t1.chinese_count,t1.foreigner_count,t1.local_grant_count, t1.supplier_grant_count, t1.operator_user_id, t1.approve_user_id, t1.modified_time
    </sql>

    <sql id="sgListField">
        t.task_id, t.task_code, t.management_id, t.management_name, t.batch_code, t.grant_cycle,  t.approved_opinion,
        t.payment_total_sum, t.total_person_count, t.chinese_count, t.foreigner_count, t.grant_date, t.grant_type,  t.grant_mode, t.grant_type_name, t.task_type, t.task_status, t.remark, t.modified_time
    </sql>

    <sql id="mainListField">
        t1.salary_grant_main_task_id task_id, t1.salary_grant_main_task_code task_code,t1.management_name,t1.management_id,t1.batch_code, t1.grant_cycle, t1.approved_opinion,
        t1.payment_total_sum,t1.total_person_count,t1.chinese_count,t1.foreigner_count,t1.grant_date,t1.grant_type, t1.task_type, t1.grant_mode, t1.task_status, '' as grant_type_name, t1.remark, t1.modified_time
    </sql>

    <sql id="subListField">
        t2.salary_grant_sub_task_id task_id, t2.salary_grant_sub_task_code task_code,t2.management_name,t2.management_id,t2.batch_code, t2.grant_cycle, t2.approved_opinion,
        t2.payment_total_sum,t2.total_person_count,t2.chinese_count,t2.foreigner_count,t2.grant_date,t2.grant_type, t2.task_type, t2.grant_mode, t2.task_status, '' as grant_type_name, t2.remark, t2.modified_time
    </sql>

    <sql id="cancelCloseField">
        m.salary_grant_main_task_id task_id, m.salary_grant_main_task_code task_code, m.batch_version, '取消关账' as invalid_reason
    </sql>

	<select id="submitList" resultMap="PageResultMap">
        select
          <include refid="sgListField"></include>
        from
        (
            select
              <include refid="mainListField"></include>
            from
                sg_salary_grant_main_task t1
            <where>
                <if test="taskCode != null and taskCode != ''">
                    and t1.salary_grant_main_task_code = #{taskCode}
                </if>
                <if test="managementIds != null and managementIds != ''">
                    and t1.management_id in (${managementIds})
                </if>
                <if test="batchCode != null and batchCode != ''">
                    and t1.batch_code = #{batchCode}
                </if>
                <if test="grantMode != null and grantMode != ''">
                    and t1.grant_mode  like concat('%', #{grantMode, jdbcType=VARCHAR}, '')
                </if>
                <if test="grantCycle != null and grantCycle != ''">
                    and t1.grant_cycle = #{grantCycle}
                </if>
                <if test="taskStatus != null and taskStatus != ''">
                    and t1.task_status = #{taskStatus}
                </if>
                <!--<if test="userId != null and userId != ''">-->
                    <!--and t1.operator_user_id = #{userId}-->
                <!--</if>-->
                and
                  t1.is_active=1
            </where>

        union

            select
                <include refid="subListField"></include>
            from
                sg_salary_grant_sub_task t2
            <where>
                <if test="taskCode != null and taskCode != ''">
                    and t2.salary_grant_sub_task_code = #{taskCode}
                </if>
                <if test="managementIds != null and managementIds != ''">
                    and t2.management_id in (${managementIds})
                </if>
                <if test="batchCode != null and batchCode != ''">
                    and t2.batch_code = #{batchCode}
                </if>
                <if test="grantMode != null and grantMode != ''">
                    and t2.grant_mode = #{grantMode}
                </if>
                <if test="grantCycle != null and grantCycle != ''">
                    and t2.grant_cycle = #{grantCycle}
                </if>
                <if test="taskStatus != null and taskStatus != ''">
                    and t2.task_status = #{taskStatus}
                </if>
                <!--<if test="userId != null and userId != ''">-->
                    <!--and t2.operator_user_id = #{userId}-->
                <!--</if>-->
                and
                  t2.task_type=1
                and
                  t2.is_active=1
            </where>
        ) t
        order by t.task_id
	</select>

    <select id="approveList" resultMap="PageResultMap">
        select
        <include refid="sgListField"></include>
        from
        (
        select
        <include refid="mainListField"></include>
        from
        sg_salary_grant_main_task t1
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t1.salary_grant_main_task_code = #{taskCode}
            </if>
            <if test="managementIds != null and managementIds != ''">
                and t1.management_id in (${managementIds})
            </if>
            <if test="batchCode != null and batchCode != ''">
                and t1.batch_code = #{batchCode}
            </if>
            <if test="grantMode != null and grantMode != ''">
                and t1.grant_mode  like concat('%', #{grantMode, jdbcType=VARCHAR}, '')
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and t1.task_status = #{taskStatus}
            </if>
            <if test="grantCycle != null and grantCycle != ''">
                and t1.grant_cycle = #{grantCycle}
            </if>
            <if test="userId != null and userId != ''">
                and t1.approve_user_id = #{userId}
            </if>
            and
              t1.is_active=1
        </where>

        union

        select
        <include refid="subListField"></include>
        from
        sg_salary_grant_sub_task t2
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t2.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null and managementIds != ''">
                and t2.management_id in (${managementIds})
            </if>
            <if test="batchCode != null and batchCode != ''">
                and t2.batch_code = #{batchCode}
            </if>
            <if test="grantMode != null and grantMode != ''">
                and t2.grant_mode = #{grantMode}
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and t2.task_status = #{taskStatus}
            </if>
            <if test="grantCycle != null and grantCycle != ''">
                and t2.grant_cycle = #{grantCycle}
            </if>
            <if test="userId != null and userId != ''">
                and t2.approve_user_id = #{userId}
            </if>
            and
              t2.task_type=1
            and
              t2.is_active=1
        </where>
        ) t
        order by t.task_id
    </select>

    <select id="haveApprovedList" resultMap="PageResultMap">
        select
        <include refid="sgListField"></include>
        from
        (
        select
        <include refid="mainListField"></include>
        from
        sg_salary_grant_main_task t1
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t1.salary_grant_main_task_code = #{taskCode}
            </if>
            <if test="managementIds != null and managementIds != ''">
                and t1.management_id in (${managementIds})
            </if>
            <if test="batchCode != null and batchCode != ''">
                and t1.batch_code = #{batchCode}
            </if>
            <if test="grantMode != null and grantMode != ''">
                and t1.grant_mode like concat('%', #{grantMode, jdbcType=VARCHAR}, '')
            </if>
            <if test="grantCycle != null and grantCycle != ''">
                and t1.grant_cycle = #{grantCycle}
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and t1.task_status = #{taskStatus}
            </if>
            <!--<if test="userId != null and userId != ''">-->
                <!--and t1.operator_user_id = #{userId}-->
            <!--</if>-->
            and
              t1.is_active=1
        </where>

        union

        select
        <include refid="subListField"></include>
        from
        sg_salary_grant_sub_task t2
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t2.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null and managementIds != ''">
                and t2.management_id in (${managementIds})
            </if>
            <if test="batchCode != null and batchCode != ''">
                and t2.batch_code = #{batchCode}
            </if>
            <if test="grantMode != null and grantMode != ''">
                and t2.grant_mode = #{grantMode}
            </if>
            <if test="grantCycle != null and grantCycle != ''">
                and t2.grant_cycle = #{grantCycle}
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and t2.task_status = #{taskStatus}
            </if>
            <!--<if test="userId != null and userId != ''">-->
                <!--and t2.operator_user_id = #{userId}-->
            <!--</if>-->
            and
              t2.is_active=1
            and
              t2.task_type=1
        </where>
        ) t
        order by t.task_id
    </select>

    <select id="passList" resultMap="PageResultMap">
        select
        <include refid="sgListField"></include>
        from
        (
        select
        <include refid="mainListField"></include>
        from
        sg_salary_grant_main_task t1
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t1.salary_grant_main_task_code = #{taskCode}
            </if>
            <if test="managementIds != null and managementIds != ''">
                and t1.management_id in (${managementIds})
            </if>
            <if test="batchCode != null and batchCode != ''">
                and t1.batch_code = #{batchCode}
            </if>
            <if test="grantMode != null and grantMode != ''">
                and t1.grant_mode like concat('%', #{grantMode, jdbcType=VARCHAR}, '')
            </if>
            <if test="grantCycle != null and grantCycle != ''">
                and t1.grant_cycle = #{grantCycle}
            </if>
            <!--<if test="userId != null and userId != ''">-->
                <!--and (t1.approve_user_id = #{userId} or t1.operator_user_id = #{userId})-->
            <!--</if>-->
            and
              t1.task_status in ('2','6','7')
            and
              t1.is_active=1
        </where>

        union

        select
        <include refid="subListField"></include>
        from
        sg_salary_grant_sub_task t2
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t2.salary_grant_main_task_code = #{taskCode}
            </if>
            <if test="managementIds != null and managementIds != ''">
                and t2.management_id in (${managementIds})
            </if>
            <if test="batchCode != null and batchCode != ''">
                and t2.batch_code = #{batchCode}
            </if>
            <if test="grantMode != null and grantMode != ''">
                and t2.grant_mode = #{grantMode}
            </if>
            <if test="grantCycle != null and grantCycle != ''">
                and t2.grant_cycle = #{grantCycle}
            </if>
            <!--<if test="userId != null and userId != ''">-->
                <!--and (t2.approve_user_id = #{userId} or t2.operator_user_id = #{userId})-->
            <!--</if>-->
            and
              t2.task_status in ('2','6','7')
            and
              t2.task_type=1
            and
              t2.is_active=1
        </where>
        ) t
        order by t.t.task_id
    </select>

    <select id="selectTaskByTaskCode" resultMap="PageResultMap">
        select
        <include refid="sgDetailField"></include>
        from
          sg_salary_grant_main_task t1
        where
          t1.salary_grant_main_task_code = #{taskCode}
        and
          t1.is_active=1
    </select>

    <update id="syncTaskInfo">
        update
            sg_salary_grant_main_task m
        set
            m.task_status = #{taskStatus},
            m.modified_time = now()
        where
            m.salary_grant_main_task_code = #{taskCode}
        and
            m.is_active = 1
    </update>

    <select id="selectByTBatchInfo" resultMap="PageResultMap">
        select
            <include refid="cancelCloseField"></include>
        from
            sg_salary_grant_main_task m
        where
            m.batch_code = #{batchCode}
        and
            m.grant_type = #{grantType}
        and
            m.is_active = 1
    </select>

    <update id="lockTask">
        update
            sg_salary_grant_main_task m
        set
            m.modified_by = #{userId},
            m.modified_time = now()
        where
            m.salary_grant_main_task_id = #{taskId}
        and
            m.modified_time = #{modifiedTime}
        and
            m.is_active = 1
    </update>

</mapper>
