<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.SalaryGrantSubTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantSubTaskPO">
        <id column="salary_grant_sub_task_id" property="salaryGrantSubTaskId"/>
        <result column="salary_grant_sub_task_code" property="salaryGrantSubTaskCode"/>
        <result column="salary_grant_main_task_code" property="salaryGrantMainTaskCode"/>
        <result column="management_id" property="managementId"/>
        <result column="management_name" property="managementName"/>
        <result column="batch_code" property="batchCode"/>
        <result column="grant_cycle" property="grantCycle"/>
        <result column="payment_total_sum" property="paymentTotalSum"/>
        <result column="total_person_count" property="totalPersonCount"/>
        <result column="chinese_count" property="chineseCount"/>
        <result column="foreigner_count" property="foreignerCount"/>
        <result column="grant_date" property="grantDate"/>
        <result column="grant_time" property="grantTime"/>
        <result column="grant_account_code" property="grantAccountCode"/>
        <result column="grant_account_name" property="grantAccountName"/>
        <result column="grant_type" property="grantType"/>
        <result column="grant_mode" property="grantMode"/>
        <result column="is_adversion" property="isAdversion"/>
        <result column="adversion_type" property="adversionType"/>
        <result column="is_advance" property="isAdvance" />
        <result column="advance_type" property="advanceType" />
        <result column="is_process" property="isProcess"/>
        <result column="remark" property="remark"/>
        <result column="approved_opinion" property="approvedOpinion"/>
        <result column="task_status" property="taskStatus"/>
        <result column="task_type" property="taskType"/>
        <result column="balance_grant" property="balanceGrant" />
        <result column="operator_user_id" property="operatorUserId"/>
        <result column="approve_user_id" property="approveUserId"/>
        <result column="work_flow_user_info" property="workFlowUserInfo" />
        <result column="is_active" property="isActive"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <select id="querySupplierSubTaskForSubmitPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.task_type                    taskType        ,
            t1.task_status                  taskStatus      ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_account_code           grantAccountCode,
            t1.grant_account_name           grantAccountName,
            date_format(t1.created_time, '%Y-%m-%d')   createdTimeStr,
            t1.grant_date                   grantDate       ,
            t1.grant_time                   grantTime       ,
            t1.remark
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '0'
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null">
                AND t1.management_id IN (${managementIds})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_id
    </select>

    <select id="querySupplierSubTaskForApprovePage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id               taskId          ,
            t1.salary_grant_sub_task_code             taskCode        ,
            t1.task_type                              taskType        ,
            t1.task_status                            taskStatus      ,
            t1.management_name                        managementName  ,
            t1.management_id                          managementId    ,
            t1.batch_code                             batchCode       ,
            t1.grant_cycle                            grantCycle      ,
            t1.payment_total_sum                      paymentTotalSum ,
            t1.total_person_count                     totalPersonCount,
            t1.chinese_count                          chineseCount    ,
            t1.foreigner_count                        foreignerCount  ,
            t1.grant_account_code                     grantAccountCode,
            t1.grant_account_name                     grantAccountName,
            t1.remark
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '1'
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null">
                AND t1.management_id IN (${managementIds})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_id
    </select>

    <select id="querySupplierSubTaskForHaveApprovedPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.task_type                    taskType        ,
            t1.task_status                  taskStatus      ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_account_code           grantAccountCode,
            t1.grant_account_name           grantAccountName,
            t1.remark
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '1'
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND t1.operator_user_id = #{currentUserId}
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null">
                AND t1.management_id IN (${managementIds})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_id
    </select>

    <select id="querySupplierSubTaskForPassPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.task_type                    taskType        ,
            t1.task_status                  taskStatus      ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_account_code           grantAccountCode,
            t1.grant_account_name           grantAccountName,
            t1.approved_opinion             approvedOpinion
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status IN ('2' , '10', '11')
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND (t1.approve_user_id = #{currentUserId} OR t1.operator_user_id = #{currentUserId})
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null">
                AND t1.management_id IN (${managementIds})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_id
    </select>

    <select id="queryOfferDocumentTaskPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.task_type                    taskType        ,
            t1.task_status                  taskStatus      ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_date                   grantDate       ,
            t1.grant_type                   grantType       ,
            '' AS                           grantTypeName   ,
            t1.grant_account_code           grantAccountCode,
            t1.grant_account_name           grantAccountName
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '12'
            AND t1.is_active = 1
            AND t1.task_type IN (3 , 4)
            <if test="currentUserId != null">
                AND t1.operator_user_id = #{currentUserId}
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementIds != null">
                AND t1.management_id IN (${managementIds})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
            <if test="grantCycle != null">
                AND t1.grant_cycle = #{grantCycle}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_id
    </select>

    <select id="queryWaitForPaymentTaskList"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskPaymentBO"
            parameterType="java.lang.String">
        select
            grant_date                    grantDate       ,
            batch_code                    batchCode       ,
            salary_grant_main_task_code   mainTaskCode    ,
            salary_grant_sub_task_code    taskCode        ,
            management_id                 managementId    ,
            management_name               managementName  ,
            grant_cycle                   grantCycle      ,
            payment_total_sum             paymentTotalSum ,
            total_person_count            totalPersonCount,
            operator_user_id              operatorUserId  ,
            balance_grant                 balanceGrant    ,
            advance_type                  advanceType
        from
            sg_salary_grant_sub_task
        where
            is_active = 1
            and task_status = 2
            and grant_mode = 1
            and grant_date = #{grantDate}
    </select>

    <resultMap id="PageResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        <result column="task_id" property="taskId" />
        <result column="task_code" property="taskCode" />
        <result column="management_id" property="managementId" />
        <result column="management_name" property="managementName" />
        <result column="batch_code" property="batchCode" />
        <result column="grant_cycle" property="grantCycle" />
        <result column="payment_total_sum" property="paymentTotalSum" />
        <result column="total_person_count" property="totalPersonCount" />
        <result column="chinese_count" property="chineseCount" />
        <result column="foreigner_count" property="foreignerCount" />
        <result column="local_grant_count" property="localGrantCount" />
        <result column="supplier_grant_count" property="supplierGrantCount" />
        <result column="grant_date" property="grantDate" />
        <result column="grant_time" property="grantTime" />
        <result column="grant_type" property="grantType" />
        <result column="grant_type_name" property="grantTypeName" />
        <result column="grant_mode" property="grantMode" />
        <result column="grant_mode_name" property="grantModeName" />
        <result column="grant_account_code" property="grantAccountCode" />
        <result column="grant_account_name" property="grantAccountName" />
        <result column="remark" property="remark" />
        <result column="invalid_reason" property="invalidReason" />
        <result column="approved_opinion" property="approvedOpinion" />
        <result column="task_status" property="taskStatus" />
        <result column="task_status_name" property="taskStatusName" />
        <result column="task_type" property="taskType" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <resultMap id="FinanceResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.FinanceTaskBO">
        <result column="task_id" property="taskId" />
        <result column="task_code" property="taskCode" />
        <result column="batch_code" property="batchCode" />
        <result column="management_id" property="managementId" />
        <result column="management_name" property="managementName" />
        <result column="grant_cycle" property="grantCycle" />
        <result column="print_date" property="printDate" />
    </resultMap>


    <sql id="subTaskListField">
        t.salary_grant_sub_task_id task_id, t.salary_grant_sub_task_code task_code,t.grant_mode,'' as grant_mode_name, t.grant_account_code, t.grant_account_name, t.payment_total_sum,t.total_person_count,t.chinese_count,t.foreigner_count,t.task_status,t.task_type,'' as task_status_name, t.approved_opinion
    </sql>

    <sql id="sgDetailField">
        t.salary_grant_sub_task_id task_id, t.salary_grant_sub_task_code task_code,  t.batch_code, t.management_id, t.management_name, t.grant_type, t.grant_cycle, t.grant_date, t.grant_time, t.created_time, t.task_type,t.task_status,
        t.approved_opinion, t.payment_total_sum,t.total_person_count,t.chinese_count,t.foreigner_count, 0 as local_grant_count, 0 as supplier_grant_count
    </sql>

    <sql id="sgPaymentField">
        t.salary_grant_main_task_code, t.batch_code, t.grant_mode, t.grant_type
    </sql>

    <sql id="FinanceField">
        m.operator_user_id, m.approve_user_id, s.salary_grant_sub_task_id task_id, s.salary_grant_sub_task_code task_code,  s.batch_code, s.management_id, s.management_name, s.grant_cycle, now() print_date
    </sql>

    <select id="subTaskList" resultMap="PageResultMap">
        select
        <include refid="subTaskListField"></include>
        from
        sg_salary_grant_sub_task t
        <where>
            <if test="taskCode != null and taskCode != ''">
                and t.salary_grant_main_task_code = #{taskCode}
            </if>
            and t.is_active=1
        </where>
        order by t.grant_mode,t.salary_grant_sub_task_id
    </select>

    <select id="selectTaskByTaskCode" resultMap="PageResultMap">
        select
          <include refid="sgDetailField"></include>
        from
          sg_salary_grant_sub_task t
        where
          t.salary_grant_sub_task_code = #{taskCode}
        and
          t.is_active=1
        order by
          t.salary_grant_sub_task_id
    </select>

    <select id="selectTaskForFinance" resultMap="FinanceResultMap">
        select
            <include refid="FinanceField"></include>
        from
            sg_salary_grant_main_task m,sg_salary_grant_sub_task s
        where
            m.salary_grant_main_task_code = s.salary_grant_main_task_code
        and
            m.salary_grant_main_task_code = #{taskCode}
        and
            m.is_active = 1
        and
            s.grant_mode = 1
        and
            s.is_active = 1
    </select>

    <select id="selectListByTaskCodes" resultMap="BaseResultMap">
        select
            <include refid="sgPaymentField"></include>
        from
            sg_salary_grant_sub_task t
        where
            t.salary_grant_sub_task_code in (${taskCodes})
        and
            t.task_type = 1
        and
            t.is_active = 1
        and
            t.task_status != '7'
    </select>

    <update id="syncTaskInfo">
        update
            sg_salary_grant_sub_task s
        set
            s.task_status = #{taskStatus},
            s.modified_time = now()
        where
            s.salary_grant_sub_task_code in (${taskCodes})
        and
            s.task_type = 1
        and
            s.is_active = 1
    </update>

</mapper>