<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.SalaryGrantEmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantEmployeePO">
        <id column="salary_grant_employee_id" property="salaryGrantEmployeeId"/>
        <result column="employee_id" property="employeeId"/>
        <result column="salary_grant_main_task_code" property="salaryGrantMainTaskCode"/>
        <result column="salary_grant_sub_task_code" property="salaryGrantSubTaskCode"/>
        <result column="employee_name" property="employeeName"/>
        <result column="template_type" property="templateType"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="employee_service_agreement_id" property="employeeServiceAgreementId"/>
        <result column="grant_cycle" property="grantCycle"/>
        <result column="tax_cycle" property="taxCycle"/>
        <result column="batch_code" property="batchCode"/>
        <result column="grant_account_code" property="grantAccountCode"/>
        <result column="grant_account_name" property="grantAccountName"/>
        <result column="payment_account_code" property="paymentAccountCode"/>
        <result column="payment_account_name" property="paymentAccountName"/>
        <result column="payment_account_bank_name" property="paymentAccountBankName" />
        <result column="grant_mode" property="grantMode"/>
        <result column="salary_grant_rule_id" property="salaryGrantRuleId"/>
        <result column="rule_type" property="ruleType"/>
        <result column="rule_amount" property="ruleAmount"/>
        <result column="rule_ratio" property="ruleRatio"/>
        <result column="bankcard_id" property="bankcardId"/>
        <result column="card_num" property="cardNum"/>
        <result column="account_name" property="accountName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="deposit_bank" property="depositBank"/>
        <result column="swift_code" property="swiftCode"/>
        <result column="iban" property="iban"/>
        <result column="bankcard_type" property="bankcardType"/>
        <result column="bankcard_province_code" property="bankcardProvinceCode"/>
        <result column="bankcard_city_code" property="bankcardCityCode"/>
        <result column="is_default_card" property="isDefaultCard"/>
        <result column="wage_payable" property="wagePayable"/>
        <result column="personal_social_security" property="personalSocialSecurity"/>
        <result column="individual_provident_fund" property="individualProvidentFund"/>
        <result column="personal_income_tax" property="personalIncomeTax"/>
        <result column="year_end_bonus" property="yearEndBonus"/>
        <result column="payment_amount_rmb" property="paymentAmountRMB"/>
        <result column="payment_amount" property="paymentAmount"/>
        <result column="currency_code" property="currencyCode"/>
        <result column="cycle_rule_id" property="cycleRuleId"/>
        <result column="exchange" property="exchange"/>
        <result column="country_code" property="countryCode"/>
        <result column="grant_date" property="grantDate"/>
        <result column="grant_time" property="grantTime"/>
        <result column="grant_service_type" property="grantServiceType"/>
        <result column="contract_type" property="contractType"/>
        <result column="contract_id" property="contractId"/>
        <result column="contract_first_party" property="contractFirstParty"/>
        <result column="is_welfare_included" property="isWelfareIncluded"/>
        <result column="service_fee_amount" property="serviceFeeAmount"/>
        <result column="declaration_account" property="declarationAccount"/>
        <result column="declaration_account_category" property="declarationAccountCategory"/>
        <result column="contribution_account" property="contributionAccount"/>
        <result column="contribution_account_category" property="contributionAccountCategory"/>
        <result column="remark" property="remark"/>
        <result column="change_log" property="changeLog"/>
        <result column="adjust_compare_info" property="adjustCompareInfo"/>
        <result column="grant_status" property="grantStatus"/>
        <result column="reprieve_type" property="reprieveType"/>
        <result column="is_active" property="isActive"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <select id="selectBOList"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantEmployeeBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantEmployeeBO">
        select
            t.salary_grant_employee_id   salaryGrantEmployeeId,
            t.employee_id                employeeId           ,
            t.employee_name              employeeName         ,
            t.company_id                 companyId            ,
            t.grant_cycle                grantCycle           ,
            t.batch_code                 batchCode            ,
            t.grant_account_code         grantAccountCode     ,
            t.grant_account_name         grantAccountName     ,
            t.card_num                   cardNum              ,
            t.account_name               accountName          ,
            t.bank_code                  bankCode             ,
            t.deposit_bank               depositBank          ,
            t.payment_amount             paymentAmount        ,
            t.currency_code              currencyCode         ,
            case t.currency_code when 'CNY' then '人民币' when 'USD' then '美元' when 'EUR' then '欧元' else '' end   currencyName,
            t.country_code               countryCode          ,
            ''                           countryName          ,
            t.grant_status               grantStatus          ,
            ''                           grantStatusName      ,
            t.remark
        from
            sg_salary_grant_employee t
        where
            1 = 1
            <if test="salaryGrantMainTaskCode != null">
                and t.salary_grant_main_task_code=#{salaryGrantMainTaskCode}
            </if>
            <if test="grantMode != null and grantMode = '12'">
                and t.grant_mode in (1, 2)
            </if>
            <if test="salaryGrantSubTaskCode != null">
                and t.salary_grant_sub_task_code=#{salaryGrantSubTaskCode}
            </if>
            <!-- modify by gaoyang  on 20180507 add not empty string conditon -->
            <if test="employeeId != null and employeeId != ''">
                and t.employee_id=#{employeeId}
            </if>
            <!-- modify by gaoyang  on 20180507 add not empty string conditon -->
            <if test="employeeName != null and employeeName != ''">
                and t.employee_name like concat('%', #{employeeName}, '%')
            </if>
            <!-- modify by gaoyang  on 20180507 add not empty string conditon -->
            <if test="grantStatus != null and grantStatus != ''">
                and t.grant_status=#{grantStatus}
            </if>
            <if test="remark != null and remark != ''">
                and t.remark is not null
            </if>
            and t.is_active=1
        order by
            t.employee_id
    </select>

    <select id="queryWaitForPaymentEmpList"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantEmployeePaymentBO"
            parameterType="java.lang.String">
        select
            salary_grant_employee_id        salaryGrantEmployeeId  ,
            company_id                      companyId              ,
            company_name                    companyName            ,
            employee_id                     employeeId             ,
            employee_name                   employeeName           ,
            bankcard_type                   bankcardType           ,
            deposit_bank                    depositBank            ,
            bankcard_id                     bankcardId             ,
            card_num                        cardNum                ,
            bankcard_province_code          bankcardProvinceCode   ,
            bankcard_city_code              bankcardCityCode       ,
            personal_social_security        personalSocialSecurity ,
            individual_provident_fund       individualProvidentFund,
            is_welfare_included             isWelfareIncluded      ,
            personal_income_tax             personalIncomeTax      ,
            wage_payable                    wagePayable            ,
            payment_amount                  paymentAmount          ,
            grant_cycle                     grantCycle             ,
            tax_cycle                       taxCycle               ,
            contract_first_party            contractFirstParty     ,
            service_fee_amount              serviceFeeAmount       ,
            grant_service_type              grantServiceType       ,
            grant_status                    grantStatus
        from
            sg_salary_grant_employee
        where
            is_active = 1
            and salary_grant_sub_task_code = #{taskCode}
    </select>

    <update id="deferEmployee" parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantEmployeeBO">
        UPDATE
          sg_salary_grant_employee t
        SET
          t.grant_status = 1,
          t.modified_by = #{modifiedBy},
          t.modified_time = now()
        <where>
            <if test="taskType == 0">
                AND t.salary_grant_main_task_code =  #{taskCode}
            </if>
            <if test="taskType != 0">
                AND t.salary_grant_sub_task_code =  #{taskCode}
            </if>
            AND
              t.employee_id = #{employeeId}
            AND
              t.grant_status = 0
        </where>
    </update>

    <!-- 通用查询映射结果 -->
    <resultMap id="FinanceResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.FinanceEmployeeBO">
        <result column="employee_id" property="employeeId"/>
        <result column="employee_name" property="employeeName"/>
        <result column="template_type" property="templateType"/>
        <result column="company_id" property="companyId"/>
        <result column="grant_cycle" property="grantCycle"/>
        <result column="tax_cycle" property="taxCycle"/>
        <result column="wage_payable" property="wagePayable"/>
        <result column="personal_social_security" property="personalSocialSecurity"/>
        <result column="individual_provident_fund" property="individualProvidentFund"/>
        <result column="year_end_bonus" property="yearEndBonus"/>
        <result column="payment_amount" property="paymentAmount"/>
    </resultMap>

    <sql id="FinanceEmpField">
        e.grant_cycle, e.company_id, e.employee_id, e.employee_name, e.tax_cycle, e.template_type, e.wage_payable, e.personal_social_security, e.individual_provident_fund, e.payment_amount, e.year_end_bonus
    </sql>

    <select id="selectEmpForFinance" resultMap="FinanceResultMap">
        SELECT
          <include refid="FinanceEmpField"></include>
        FROM
          sg_salary_grant_employee e
        WHERE EXISTS
        (
            SELECT
              s.salary_grant_sub_task_code
            FROM
              sg_salary_grant_sub_task s
            WHERE
              e.salary_grant_sub_task_code = s.salary_grant_sub_task_code
            AND
              s.salary_grant_main_task_code = #{taskCode}
            AND
              s.grant_mode = 1
        )
        ORDER BY
          e.company_id, e.template_type
    </select>

</mapper>
