<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.SalaryGrantSubTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantSubTaskPO">
        <id column="salary_grant_sub_task_id" property="salaryGrantSubTaskId"/>
        <result column="salary_grant_sub_task_code" property="salaryGrantSubTaskCode"/>
        <result column="salary_grant_main_task_code" property="salaryGrantMainTaskCode"/>
        <result column="work_flow_process_id" property="workFlowProcessId"/>
        <result column="management_id" property="managementId"/>
        <result column="management_name" property="managementName"/>
        <result column="batch_code" property="batchCode"/>
        <result column="grant_cycle" property="grantCycle"/>
        <result column="payment_total_sum" property="paymentTotalSum"/>
        <result column="total_person_count" property="totalPersonCount"/>
        <result column="chinese_count" property="chineseCount"/>
        <result column="foreigner_count" property="foreignerCount"/>
        <result column="grant_date" property="grantDate"/>
        <result column="grant_time" property="grantTime"/>
        <result column="grant_account_code" property="grantAccountCode"/>
        <result column="grant_type" property="grantType"/>
        <result column="grant_mode" property="grantMode"/>
        <result column="is_adversion" property="isAdversion"/>
        <result column="adversion_type" property="adversionType"/>
        <result column="remark" property="remark"/>
        <result column="approved_opinion" property="approvedOpinion"/>
        <result column="task_status" property="taskStatus"/>
        <result column="task_type" property="taskType"/>
        <result column="operator_user_id" property="operatorUserId"/>
        <result column="approve_user_id" property="approveUserId"/>
        <result column="is_active" property="isActive"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <select id="querySupplierSubTaskForSubmitPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.management_name              managementId    ,
            t1.management_id                managementName  ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_account_code           grantAccountCode,
            '' AS                           grantAccountName,
            t1.remark
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '0'
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND t1.operator_user_id = #{currentUserId}
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementId != null">
                AND t1.management_id = #{managementId}
            </if>
            <if test="managementName != null">
                AND t1.management_name LIKE concat('%', #{managementName})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_code
    </select>

    <select id="querySupplierSubTaskForApprovePage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id task_id       taskId          ,
            t1.salary_grant_sub_task_code task_code   taskCode        ,
            t1.management_name                        managementName  ,
            t1.management_id                          managementId    ,
            t1.batch_code                             batchCode       ,
            t1.grant_cycle                            grantCycle      ,
            t1.payment_total_sum                      paymentTotalSum ,
            t1.total_person_count                     totalPersonCount,
            t1.chinese_count                          chineseCount    ,
            t1.foreigner_count                        foreignerCount  ,
            t1.grant_account_code                     grantAccountCode,
            '' AS                                     grantAccountName,
            t1.remark
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '1'
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND t1.approve_user_id = #{currentUserId}
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementId != null">
                AND t1.management_id = #{managementId}
            </if>
            <if test="managementName != null">
                AND t1.management_name LIKE concat('%', #{managementName})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_code
    </select>

    <select id="querySupplierSubTaskForHaveApprovedPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_account_code           grantAccountCode,
            '' AS                           grantAccountName,
            t1.remark
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '1'
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND t1.operator_user_id = #{currentUserId}
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementId != null">
                AND t1.management_id = #{managementId}
            </if>
            <if test="managementName != null">
                AND t1.management_name LIKE concat('%', #{managementName})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_code
    </select>

    <select id="querySupplierSubTaskForPassPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_account_code           grantAccountCode,
            '' AS                           grantAccountName,
            t1.approved_opinion             approvedOpinion
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status IN ('2' , '10', '11')
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND (t1.approve_user_id = #{currentUserId} OR t1.operator_user_id = #{currentUserId})
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementId != null">
                AND t1.management_id = #{managementId}
            </if>
            <if test="managementName != null">
                AND t1.management_name LIKE concat('%', #{managementName})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_code
    </select>

    <select id="querySupplierSubTaskForRejectPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.task_id              taskId          ,
            t1.task_code            taskCode        ,
            t1.management_name      managementName  ,
            t1.management_id        managementId    ,
            t1.batch_code           batchCode       ,
            t1.grant_cycle          grantCycle      ,
            t1.payment_total_sum    paymentTotalSum ,
            t1.total_person_count   totalPersonCount,
            t1.chinese_count        chineseCount    ,
            t1.foreigner_count      foreignerCount  ,
            t1.grant_account_code   grantAccountCode,
            '' AS                   grantAccountName,
            t1.approved_opinion     approvedOpinion
        FROM
            sg_salary_grant_task_history t1
        WHERE
            t1.task_status IN ('3' , '8')
            AND t1.is_active = 1
            AND t1.task_type = 2
            AND t1.grant_mode = 2
            <if test="currentUserId != null">
                AND (t1.approve_user_id = #{currentUserId} OR t1.operator_user_id = #{currentUserId})
            </if>
            <if test="taskCode != null">
                AND t1.task_code = #{taskCode}
            </if>
            <if test="managementId != null">
                AND t1.management_id = #{managementId}
            </if>
            <if test="managementName != null">
                AND t1.management_name LIKE concat('%', #{managementName})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
        ORDER BY
            t1.task_code
    </select>

    <select id="queryOfferDocumentTaskPage"
            resultType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO"
            parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.SalaryGrantTaskBO">
        SELECT
            t1.salary_grant_sub_task_id     taskId          ,
            t1.salary_grant_sub_task_code   taskCode        ,
            t1.management_name              managementName  ,
            t1.management_id                managementId    ,
            t1.batch_code                   batchCode       ,
            t1.grant_cycle                  grantCycle      ,
            t1.payment_total_sum            paymentTotalSum ,
            t1.total_person_count           totalPersonCount,
            t1.chinese_count                chineseCount    ,
            t1.foreigner_count              foreignerCount  ,
            t1.grant_date                   grantDate       ,
            t1.grant_type                   grantType       ,
            '' AS                           grantTypeName   ,
            t1.grant_account_code           grantAccountCode,
            '' AS                           grantAccountName
        FROM
            sg_salary_grant_sub_task t1
        WHERE
            t1.task_status = '12'
            AND t1.is_active = 1
            AND t1.task_type IN (3 , 4)
            <if test="currentUserId != null">
                AND t1.operator_user_id = #{currentUserId}
            </if>
            <if test="taskCode != null">
                AND t1.salary_grant_sub_task_code = #{taskCode}
            </if>
            <if test="managementId != null">
                AND t1.management_id = #{managementId}
            </if>
            <if test="managementName != null">
                AND t1.management_name LIKE concat('%', #{managementName})
            </if>
            <if test="batchCode != null">
                AND t1.batch_code = #{batchCode}
            </if>
            <if test="grantAccountCode != null">
                AND t1.grant_account_code = #{grantAccountCode}
            </if>
            <if test="grantCycle != null">
                AND t1.grant_cycle = #{grantCycle}
            </if>
        ORDER BY
            t1.salary_grant_sub_task_code
    </select>

</mapper>
