<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.SalaryGrantReprieveEmployeeImportMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantReprieveEmployeeImportPO">
		<id column="salarygrant_reprieve_employee_import_id" property="salarygrantReprieveEmployeeImportId" />
		<result column="task_code" property="taskCode" />
		<result column="task_type" property="taskType" />
		<result column="employee_id" property="employeeId" />
		<result column="employee_name" property="employeeName" />
		<result column="import_time" property="importTime" />
		<result column="created_by" property="createdBy" />
		<result column="created_time" property="createdTime" />
		<result column="modified_by" property="modifiedBy" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>

</mapper>
