<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.SalaryGrantReprieveEmployeeImportMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantReprieveEmployeeImportPO">
		<id column="salarygrant_reprieve_employee_import_id" property="salarygrantReprieveEmployeeImportId" />
		<result column="task_code" property="taskCode" />
		<result column="task_type" property="taskType" />
		<result column="employee_id" property="employeeId" />
		<result column="employee_name" property="employeeName" />
		<result column="import_time" property="importTime" />
		<result column="created_by" property="createdBy" />
		<result column="created_time" property="createdTime" />
		<result column="modified_by" property="modifiedBy" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>

	<delete id="deleteReprieveEmp" parameterType="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.SalaryGrantReprieveEmployeeImportPO">
		delete from
			sg_salary_grant_reprieve_employee_import
		where
			task_code = #{taskCode}
		and
			task_type = #{taskType}
	</delete>

	<!-- 批量新增暂缓失败雇员 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sg_salary_grant_reprieve_employee_import
		(
			task_code,
			task_type,
			employee_id,
			employee_name,
			created_by,
			created_time,
			import_time
		) VALUES
		<foreach collection="failList" item="item" index="index" separator=",">
			(
				#{taskCode},
				#{taskType},
				#{item.employee_id},
				#{item.employee_name},
				#{userId},
				NOW(),
				NOW()
			)
		</foreach>
	</insert>

</mapper>
