<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.dao.WorkFlowTaskInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.po.WorkFlowTaskInfoPO">
        <id column="work_flow_task_info_id" property="workFlowTaskInfoId" />
        <result column="work_flow_process_id" property="workFlowProcessId" />
        <result column="process_definition_key" property="processDefinitionKey" />
        <result column="task_code" property="taskCode" />
        <result column="work_flow_task_id" property="workFlowTaskId" />
        <result column="work_flow_task_type" property="workFlowTaskType" />
        <result column="role_id" property="roleId" />
        <result column="work_flow_task_status" property="workFlowTaskStatus" />
        <result column="task_deal_user_id" property="taskDealUserId" />
        <result column="task_deal_user_name" property="taskDealUserName" />
        <result column="task_deal_time" property="taskDealTime" />
        <result column="task_deal_operation" property="taskDealOperation" />
        <result column="approved_opinion" property="approvedOpinion" />
        <result column="is_active" property="isActive" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="modified_by" property="modifiedBy" />
        <result column="modified_time" property="modifiedTime" />
	</resultMap>

    <resultMap id="LogInfoResultMap" type="com.ciicsh.gto.fcbusinesscenter.salarygrant.siteservice.entity.bo.WorkFlowTaskInfoBO">
        <result column="task_deal_user_id" property="operateUserId" />
        <result column="task_deal_user_name" property="operateUserName" />
        <result column="task_deal_time" property="operateTime" />
        <result column="task_deal_operation" property="operation" />
        <result column="approved_opinion" property="opinion" />
    </resultMap>

    <sql id="logInfoField">
        t.task_deal_user_id, t.task_deal_user_name, t.task_deal_time, t.task_deal_operation, t.approved_opinion
    </sql>

    <select id="operation" resultMap="LogInfoResultMap">
        select
          <include refid="logInfoField"></include>
        from
          sg_work_flow_task_info t, sg_task_work_flow_relation t1
        where
          t.work_flow_process_id = t1.work_flow_process_id
        and
          t1.task_code = #{taskCode}
        and
          t1.is_active = 1
        order by
          t.work_flow_task_info_id
    </select>

</mapper>
