<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcsupportcenter.tax.queryservice.dao.TaskSubProofMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ciicsh.gto.fcsupportcenter.tax.entity.po.TaskSubProofPO">
        <id column="id" property="id"/>
        <result column="task_main_proof_id" property="taskMainProofId"/>
        <result column="task_sub_proof_id" property="taskSubProofId"/>
        <result column="task_no" property="taskNo"/>
        <result column="declare_account" property="declareAccount"/>
        <result column="period" property="period"/>
        <result column="headcount" property="headcount"/>
        <result column="chinese_num" property="chineseNum"/>
        <result column="foreigner_num" property="foreignerNum"/>
        <result column="status" property="status"/>
        <result column="is_active" property="isActive"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="task_type" property="taskType"/>
        <result column="is_combined" property="isCombined"/>
    </resultMap>

    <!--新增完税凭证子任务-->
    <insert id="addTaskSubProof" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ciicsh.gto.fcsupportcenter.tax.entity.po.TaskSubProofPO">
		INSERT into tax_fc_task_sub_proof(task_main_proof_id,task_no,declare_account,status,created_by,modified_by,task_type)
		VALUES (#{taskMainProofId,jdbcType=INTEGER},#{taskNo,jdbcType=VARCHAR},#{declareAccount,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{modifiedBy,jdbcType=VARCHAR},#{taskType,jdbcType=VARCHAR})
	</insert>

    <!--根据主键ID修改完税凭证子任务状态-->
    <update id="updateSubTaskProof">
        update tax_fc_task_sub_proof set status = #{status},modified_by = #{modifiedBy}
        WHERE status = '00' AND is_active = 1 AND id in
        <foreach collection="subProofIds" item="subProofId" open="(" separator="," close=")">
            #{subProofId}
        </foreach>
    </update>

    <!--根据主任务ID修改完税凭证子任务状态-->
    <update id="updateSubTaskProofByMainIds">
        update tax_fc_task_sub_proof set status = #{status},modified_by = #{modifiedBy}
        WHERE status = '00' AND task_main_proof_id in
        <foreach collection="mainProofIds" item="mainProofId" open="(" separator="," close=")">
            #{mainProofId}
        </foreach>
    </update>

    <!--根据主键ID将完税凭证子任务置为失效状态-->
    <update id="invalidSubTaskProofByIds">
        update tax_fc_task_sub_proof set is_active = false,modified_by = #{modifiedBy}
        WHERE status = '00' AND id in
        <foreach collection="subProofIds" item="subProofId" open="(" separator="," close=")">
            #{subProofId}
        </foreach>
    </update>

    <!--根据主任务ID将完税凭证子任务置为失效状态-->
    <update id="invalidSubTaskProofByMainIds">
        update tax_fc_task_sub_proof set is_active = false,modified_by = #{modifiedBy}
        WHERE status = '00' AND task_main_proof_id in
        <foreach collection="mainProofIds" item="mainProofId" open="(" separator="," close=")">
            #{mainProofId}
        </foreach>
    </update>

    <!--根据主任务ID查询其下所有子任务的相关申报账户 -->
    <select id="selectSubTaskMapByMainId" resultMap="BaseResultMap">
        select declare_account,id from tax_fc_task_sub_proof
        where status = "00" and is_active = 1
        and task_main_proof_id = #{mainId}
    </select>

    <!--根据主键ID重新计算子任务总人数-->
    <update id="updateSubHeadcountById">
        update tax_fc_task_sub_proof tsp
        set tsp.headcount = (select count(1) from tax_fc_task_sub_proof_detail spd where spd.is_active = 1 and  spd.task_sub_proof_id = #{id} )
        where  tsp.is_active = 1 and tsp.id = #{id}
    </update>

</mapper>
