<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ciicsh.gto.fcsupportcenter.bouncequeryservice.dao.PrPayRollMapper">

    <!-- 定义resultMap，解决表中字段名与模型中属性名不一致的问题 -->
    <!-- id相当于resultmap的引用的唯一标识-->
    <resultMap id="PrPayRollMap" type="com.ciicsh.gto.fcsupportcenter.entity.PrPayRoll">
        <id column="PayRollId" jdbcType="BIGINT"  property="payRollId" />
        <result column="ManagementID" jdbcType="VARCHAR" property="managementId"/>
        <result column="EmployeeID" jdbcType="VARCHAR" property="employeeId"/>
        <result column="SalaryPeriod" jdbcType="VARCHAR" property="salaryPeriod"/>
        <result column="PayRollBatch" jdbcType="VARCHAR" property="payRollBatch"/>
        <result column="Channel" jdbcType="INTEGER" property="channel"/>
        <result column="DataObject" jdbcType="VARCHAR" property="dataObject"/>
        <result column="Remark" jdbcType="VARCHAR" property="remark"/>
        <result column="IsActive" jdbcType="BOOLEAN" property="isActive"/>
        <result column="CreatedBy" jdbcType="VARCHAR" property="createdby" />
        <result column="DataChange_CreateTime" jdbcType="TIMESTAMP" property="datachangeCreatetime" />
        <result column="ModifiedBy" jdbcType="VARCHAR" property="modifiedby" />
        <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
    </resultMap>

    <!--根据雇员id获取工资单信息-->
    <select id="getParRollByEmployeeId" resultMap="PrPayRollMap">
        SELECT PayRollId,ManagementID,EmployeeID,SalaryPeriod,PayRollBatch,Channel,DataObject,Remark ,IsActive,CreatedBy,DataChange_CreateTime,ModifiedBy,DataChange_LastTime FROM PR_PayRoll WHERE EmployeeID = #{employeeid}
    </select>

</mapper>