<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.mapper.PrAdjustBatchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagementcommandservice.po.PrAdjustBatch">
		<id column="id" property="id" />
		<result column="origin_batch_id" property="originBatchId" />
		<result column="adjust_batch_code" property="adjustBatchCode" />
		<result column="management_id" property="managementId" />
		<result column="is_scheduled" property="isScheduled" />
		<result column="schedule_setting" property="scheduleSetting" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="adjust_result" property="adjustResult" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
