<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.salarymanagementcommandservice.mapper.PrBackTrackingBatchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ciicsh.gto.salarymanagementcommandservice.po.PrBackTrackingBatch">
		<id column="id" property="id" />
		<result column="origin_batch_id" property="originBatchId" />
		<result column="back_tracking_batch_code" property="backTrackingBatchCode" />
		<result column="management_id" property="managementId" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="back_emp_adjust_fields" property="backEmpAdjustFields" />
		<result column="back_emp_spec_fields" property="backEmpSpecFields" />
		<result column="back_emp_result" property="backEmpResult" />
		<result column="is_active" property="isActive" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="created_by" property="createdBy" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

</mapper>
