<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciicsh.gto.fcbusinesscenter.slipcommandservice.dao.PrsPayrollTemplateMapper">

  <resultMap id="BaseResultMap" type="com.ciicsh.gto.fcbusinesscenter.slipcommandservice.entity.po.PrsPayrollTemplatePO">
    <id column="id" property="id" />
    <result column="template_code" property="templateCode" />
    <result column="template_name" property="templateName" />
    <result column="management_id" property="managementId" />
    <result column="management_name" property="managementName" />
    <result column="account_code" property="accountCode" />
    <result column="account_name" property="accountName" />
    <result column="account_items" property="accountItems" />
    <result column="template_type" property="templateType" />
    <result column="template_file_name" property="templateFileName" />
    <result column="template_file_url" property="templateFileUrl" />
    <result column="effective_time" property="effectiveTime" />
    <result column="invalid_time" property="invalidTime" />
    <result column="if_encrypt" property="ifEncrypt" />
    <result column="status" property="status" />
    <result column="comments" property="comments" />
    <result column="remark" property="remark" />
    <result column="is_active" property="isActive" />
    <result column="created_time" property="createdTime" />
    <result column="modified_time" property="modifiedTime" />
    <result column="created_by" property="createdBy" />
    <result column="modified_by" property="modifiedBy" />
  </resultMap>

  <select id="total"  resultType="int">
    SELECT COUNT(*) FROM prs_payroll_template
    WHERE is_active = 1
  </select>

  <select id="list"  resultMap="BaseResultMap">
    SELECT *
    FROM prs_payroll_template
    WHERE is_active = 1
    <if test="templateCode != null and templateCode != ''">
      and template_code = #{templateCode}
    </if>
    <if test="templateName != null and templateName != ''">
      and template_name like concat('%', #{templateName}, '%')
    </if>
    <if test="managementId != null and managementId != ''">
      and management_id = #{managementId}
    </if>
    <if test="managementName != null and managementName != ''">
      and management_name like concat('%', #{managementName}, '%')
    </if>
    ORDER BY id DESC
    <if test="limit != null and limit != ''">
      LIMIT #{limit}
    </if>
    <if test="offset != null and offset != ''">
      OFFSET #{offset}
    </if>
  </select>

  <select id="get"  resultMap="BaseResultMap">
    SELECT *
    FROM prs_payroll_template
    where id = #{id}
    LIMIT 1
  </select>

  <select id="last"  resultMap="BaseResultMap">
    SELECT *
    FROM prs_payroll_template
    ORDER by id desc
    LIMIT 1;
  </select>

  <insert id="insert" parameterType="map">
    INSERT INTO prs_payroll_template(template_code, template_name, management_id, management_name, account_code, account_name, account_items, template_type, template_file_name, template_file_url, effective_time, invalid_time, if_encrypt, status, comments, remark, is_active, created_time, modified_time, created_by)
    VALUES (#{templateCode}, #{templateName}, #{managementId}, #{managementName}, #{accountCode}, #{accountName}, #{accountItems}, #{templateType}, #{templateFileName}, #{templateFileUrl}, #{effectiveTime}, #{invalidTime}, #{ifEncrypt}, #{status}, #{comments}, #{remark}, #{isActive}, #{createdTime}, #{modifiedTime}, #{createdBy})
  </insert>

  <update id="update" parameterType="map">
    UPDATE prs_payroll_template
    SET modified_time = CURRENT_TIMESTAMP,
    <trim suffixOverrides=",">
      <if test="templateCode != null and templateCode != ''">
        template_code = #{templateCode},
      </if>
      <if test="templateName != null and templateName != ''">
        template_name = #{templateName},
      </if>
      <if test="managementId != null and managementId != ''">
        management_id = #{managementId},
      </if>
      <if test="managementName != null and managementName != ''">
        management_name = #{managementName},
      </if>
      <if test="accountCode != null and accountCode != ''">
        account_code = #{accountCode},
      </if>
      <if test="accountName != null and accountName != ''">
        account_name = #{accountName},
      </if>
      <if test="accountItems != null and accountItems != ''">
        account_items = #{accountItems},
      </if>
      <if test="templateType != null and templateType != ''">
        template_type = #{templateType},
      </if>
      <if test="templateFileName != null and templateFileName != ''">
        template_file_name = #{templateFileName},
      </if>
      <if test="templateFileUrl != null and templateFileUrl != ''">
        template_file_url = #{templateFileUrl},
      </if>
      <if test="effectiveTime != null and effectiveTime != ''">
        effective_time = #{effectiveTime},
      </if>
      <if test="invalidTime != null and invalidTime != ''">
        invalid_time = #{invalidTime},
      </if>
      <if test="ifEncrypt != null">
        if_encrypt = #{ifEncrypt},
      </if>
      <if test="status != null and status != ''">
        status = #{status},
      </if>
      <if test="comments != null and comments != ''">
        comments = #{comments},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark},
      </if>
      <if test="isActive != null">
        is_active = #{isActive},
      </if>
      <if test="modifiedTime != null and modifiedTime != ''">
        modified_time = #{modifiedTime},
      </if>
      <if test="modifiedBy != null and modifiedBy != ''">
        modified_by = #{modifiedBy},
      </if>

    </trim>
    WHERE id = #{id}
  </update>

</mapper>
